[2021-03-11 19:36] xenrox commented on #1006
`/account set <account> status last` should work (see https://profanity-im.github.io/guide/latest/reference.html#account)

I am working on the status message, but it is not trivial.

[2021-03-11 20:26] jubalh commented on #1330
Sooo what do we do with this one @StefanKropp @mdosch ?

[2021-03-11 23:47] mwuttke97 commented on #1494
The new standard requires that arbitrary `<extension>` data MUST be preserved. Currently, the only preserved 'extension' data is `ext_gajim_minimize`. I think we don't want to store all of these data in the `struct bookmark_t`. For modifying bookmarks, we could retrieve the complete entry and upload the updated data.

[2021-03-12 13:53] mwuttke97 commented on #1494
The current implementation in Profanity only supports XEP-0048 with the legacy "Private XML Storage".

I think we should follow the backward compatibility strategy that Gajim has implemented:

<https://dev.gajim.org/gajim/gajim/-/blob/master/gajim/common/modules/bookmarks.py#L144>

- If PubSub is not supported at all (which should be rare), use (legacy) Private XML storage bookmarks
- (Use native

[2021-03-16 12:15] #1211 closed

[2021-03-16 13:17] jubalh commented on #1330
Got feedback via PM. Closing for now.

[2021-03-16 13:17] #1330 closed

[2021-03-17 11:12] mdosch opened #1507 "Add support for XEP-0045 8.6 "Approving Voice Requests""
As #1211 got implemented via #1504 and profanity can now request voice it would be also nice for an MUC admin to be able to approve those requests from within profanity. Therefore support for [XEP-0045 §8.6](https://xmpp.org/extensions/xep-0045.html#voiceapprove) would be much appreciated.

[2021-03-17 15:38] jubalh commented on #1507
Done in https://github.com/profanity-im/profanity/issues/1508

[2021-03-17 15:38] #1507 closed

[2021-03-18 14:10] jvoisin opened #1509 "Fuzzing and integration with OSS-Fuzz"
Since profanity is processing untrusted data coming from the internet, it would be nice to [fuzz it]( https://en.wikipedia.org/wiki/Fuzzing ) a bit, ideally via [libfuzzer]( https://llvm.org/docs/LibFuzzer.html#fuzz-target ) so that it can be integrated with [OSS Fuzz]( https://google.github.io/oss-fuzz/advanced-topics/ideal-integration/ ).

I'll be happy to help make this happen :)

[2021-03-21 11:23] mwuttke97 opened #1512 "OMEMO sending/receiving files segfaults on Raspberry Pi Model B"
The commands `/sendfile` and `/url save` commands segfault on my Raspberry Pi.

## Expected Behavior

It should encrypt/decrypt and send/receive the file.

## Current Behavior

Segmentation fault. Stack trace:

[code]

Note that `gcry_res = NULL`, even though this ought to be a pointer to a local variable from the caller (`_add_omemo_stream`).

The same segfault happens if I replace `*gcry_res = a

[2021-03-21 12:13] licaon-kter commented on #1512
Where did you get the glib downgrade patch from?

[2021-03-21 12:21] mwuttke97 commented on #1512
On 21/03/2021 13:13, Licaon_Kter wrote:

From Buster Backports:
<http://deb.debian.org/debian/pool/main/p/profanity/profanity_0.10.0-1~bpo10+1.debian.tar.xz>

It only changes two lines that query the date.

[2021-03-22 17:09] jubalh commented on #1512
I don't have a Pi. @mwuttke97 will you work on this?

[2021-03-23 09:51] mwuttke97 commented on #1512
On 22/03/2021 18:09, Michael Vetter wrote:

I would appreciate some tips from C programmers, as I have no idea about
the nature of this segfault. I've already tried the -Wcast-align option.
I'm also curious whether someone else can reproduce it.

[2021-03-23 10:23] jubalh commented on #1512
@pasis maybe you have an idea?

[2021-03-23 10:25] jubalh commented on #1512
@mwuttke97 maybe it would make sense to get in touch with some Debian ARM people too.

[2021-03-23 14:30] licaon-kter commented on #1512
Seeing the same on RPi1/256Mb

How do I build a debug version?

[2021-03-23 15:14] mwuttke97 commented on #1512
On 23/03/2021 15:31, Licaon_Kter wrote:

[code]

[2021-03-24 13:38] jubalh commented on #1509
@jvoisin thanks for linking the articles. I took a quick look.
I imagine that you can find many things when sending XML that is not according to what we expect from the description of a certain RFC or XEP. Feel free to work on any area you see fit and opening PRs :-)
Maybe take a look at the `src/xmpp` files like `src/xmpp/message.c` or `src/xmpp/stanza.c`.

[2021-03-24 15:46] jubalh commented on #1512
@mwuttke97 did you run profanity under valgrind?

[2021-03-24 15:52] jubalh commented on #1512
We have `int crypt_res;` which we pass: `fragment = omemo_encrypt_file(*fh, tmpfh, file_size(*fd), &crypt_res);` and in there: `*gcry_res = aes256gcm_crypt_file(in, out, file_size, key, nonce, true);` but `gcry_res` is NULL so *gcry_res is a problem. But how can it be NULL? Buffer overflow under this arch maybe?

[2021-03-24 21:47] licaon-kter commented on #1512
Pretty much the same output, right?
[code]

[2021-03-24 22:45] jubalh commented on #1512
Yep

[2021-03-25 10:05] licaon-kter commented on #1210
@weiss this wasn't yet pursued, right?

[2021-03-25 10:21] #1210 closed

[2021-03-25 10:38] mdosch commented on #1210
@licaon-kter See the referenced ejabberd issue

[2021-03-25 11:03] jubalh commented on #1509
@jvoisin maybe wait a bit. I started with https://github.com/profanity-im/profanity/pull/1513.

[2021-03-25 16:18] jubalh commented on #1509
@jvoisin I guess you can start :)

[2021-03-25 18:06] mwuttke97 commented on #1512
Here's the assembly code of the two topmost functions on the stack: https://gist.github.com/mwuttke97/fff6cd6d776d925216a2874eaf41878b

[2021-03-25 19:35] mdosch commented on #1266
For this particular form there is nothing to submit as the process is finished by performing the ad-hoc command.

[2021-03-25 19:35] #1266 closed

[2021-03-26 10:51] mwuttke97 commented on #1512
@licaon-kter: In the MUC, optmzr proposed to add the option `-D_FILE_OFFSET_BITS=64` to the build flag. This actually solved the problem for me. This is how I built profanity:

[code]

[2021-03-26 17:46] pasis commented on #1512
@mwuttke97: the root cause is that `cmd_funcs.c` treats `off_t` as 64bit and `omemo.c` as 32bit. This breaks ABI. You can see this from assembler code you posted:
omemo_encrypt_file() accepts pointer to `gcry_res` in register `r3`, but _add_omemo_stream() puts the pointer to stack, since `r3` holds higher part of 64bit size which is 0. As result, this 0 is dereferenced.

@jubalh To fix this and av

[2021-03-26 19:07] #1512 closed

[2021-03-26 19:08] jubalh commented on #1512
Tested by @mwuttke97, feedback via MUC.

[2021-03-26 21:59] licaon-kter commented on #1512
Confirmed here too, thanks :)

[2021-03-28 12:44] mwuttke97 commented on #1436
I'm experiencing the same issue. It's quite annoying, since I can't know whether my recipent can actually decrypt the message, unless I look into the log, for entries like this:

I noticed that uppon creating a new chat window with `B@B.host`, two 'get-device-list' requests were send to `you@B.host` and `me@A.host`. I highly suspect that there's a race condition going on. This would explain why it

[2021-03-30 19:10] mdosch opened #1516 "Feature request: Option to control intype separately for console and titlebar"
Right now you can either enable or disable typing notifications for console and titlebar together:

I would like to be able to enable or disable typing notifications for console and titlebar separately, e.g. like that:

[2021-03-31 22:09] qorg11 opened #1517 "Vertical status bar (like poezio's)"
Is it possible to set the status bar (or at least the open windows bar) in vertical? like poezio
![1617149183](https://user-images.githubusercontent.com/53711069/113217052-99924780-927d-11eb-939e-6fd769c8f633.png)

[2021-04-01 07:04] jubalh commented on #1517
Nope. Not yet. Only top or bottom but always vertical. Keep in mind that the design is based on irssi.
Here is the reference to manipulate the statusbar: https://profanity-im.github.io/guide/latest/reference.html#statusbar

[2021-04-01 07:04] #1517 closed

[2021-04-02 19:58] mwgamera opened #1518 "Unexpectedly creates a file named `./profanity`"
## Current Behavior
After running for a while (apparently when the log file reaches the maxsize limit), profanity changes the log file location to `profanity` in the current working directory.

## Expected Behavior
It shouldn't do that.

## Steps to Reproduce
0. Ensure `./profanity` doesn't exist and `.` is writable.
1. Run `profanity -l DEBUG` (but without `-f`) to make it write a lot of log.
2.

[2021-04-04 15:08] jvoisin commented on #1509
It seems that it might make more sense to fuzz libmesode instead, since it's the one dealing with "low-level" shenanigans.

[2021-04-04 15:44] jvoisin commented on #1509
I gave it a try, with something like this, but I can't make it compile:

[code]

[2021-04-04 20:21] jubalh commented on #1509
Please use libstrophe. We plan to deprecate libmesode.

That are linker issues that you mentioned above.

[2021-04-05 09:46] qorg11 commented on #365
According to Tor Project [torify should not be used](https://gitlab.torproject.org/legacy/trac/-/wikis/doc/torsocks). So it would be better to do something like this
[code]

[2021-04-08 08:20] #1436 closed

[2021-04-08 21:21] jscott0 opened #1519 "Cross-unfriendly reliance on unprefixed python(3)-config"
Hello,
I'm investigating getting the Profanity package on Debian to cross-compile, and I think the issue is that `configure.ac` is not robust enough to support such use cases.
Using plain `python3-config` is troublesome because this can refer to either the build system or the host system's Python library. Two options are to either support cross-prefixed tools (`x86_64-linux-gnu-python3-config`) or

[2021-04-08 21:22] jscott0 commented on #1519
Sorry, this is the same as #851.

[2021-04-08 21:22] #1519 closed

[2021-04-08 21:23] jscott0 commented on #851
I didn't realize it was a duplicate, but I posted a couple ideas at #1519

[2021-04-09 07:18] jubalh commented on #851
@jscott0 would you mind creating a tested PR with the pkgconfig solution?

[2021-04-09 22:36] jscott0 commented on #851
I'm not familiar with Autotools or Python but wouldn't mind learning the former. Give me a few weeks and I'll try experimenting

[2021-04-14 10:04] jvoisin commented on #1509
Making progress:

![xxx](https://user-images.githubusercontent.com/325724/114693154-d6901c80-9d08-11eb-8375-54ccea9a65bb.png)

[2021-04-14 12:22] jubalh opened #1520 "Make people love Profanity"
Our brilliant plan to make Profanity famous among the XMPP community was a huge success.

Profanity became a constant hit for discussions in the community. Everybody was and is talking about its huge IDs.

Now that we have achieved making people aware of Profanitys existence it's time to make them love Profanity.
So let's have shorter IDs.

[2021-04-14 20:52] jubalh commented on #1520
Looking like `7HcnNSoO1MVvb0p9a9e293152922853e910b8b1a65bb26e225a0568` now. Sad :(

[2021-04-16 17:25] jubalh opened #1521 "Feature: Spawn external editor to edit message"
@StefanKropp had this idea and started it in https://github.com/profanity-im/profanity/pull/1485.

What needs to be done:
* [x] Decide what PREF_COMPOSE_EDITOR should return by default `/usr/bin/vim`, `xdg-open`, `$EDITOR`, `$VISUAL`? Right now we use `fork()`/`execl()` we need a whole path. So just `xdg-open` or `$EDITOR` won't work right now. #1546
* [x] Check whether it works with a graphical e

[2021-04-16 18:04] jubalh commented on #1521
Some ideas where this could lead:

This can later be used to reply to messages too.
Maybe a workflow like his:
* /reply
* each line gets a number
* press the number (3)
* editor gets opened containing ">" + the content of line 3

@kaffeekanne also suggest to use it for correct via `/edit correct`

[2021-04-16 19:20] mdosch commented on #1521
I'd prefer to have a number per message and quote the full message even if it's multiline.

[2021-04-16 20:11] jubalh commented on #1521
That's what I said?

[2021-04-16 20:27] mdosch commented on #1521
You said 'line' but a message could be several lines.

[2021-04-16 20:40] jubalh commented on #1521
You are right, that was not clear. I meant the same though. Maybe a better word would be entry. An entry starting with date + nick + message. That entry will have `-` char where we want the number. And then the message (possibly spread along several lines).

[2021-04-16 21:27] jubalh commented on #1464
Now there comes a new one with `/editor`. I actually like `/executables` to be the one place to configure all external programs. Going to close this for now.

[2021-04-16 21:27] #1464 closed

[2021-04-18 08:18] mdosch opened #1524 "Add XEP-0157 server contact information discovery"
There are various reasons why you'd want to contact a servers operator. As a lot of servers support [XEP-0157: Contact Addresses for XMPP Services](https://xmpp.org/extensions/xep-0157.html) it would be handy if those could be queried from within profanity.

[2021-04-18 10:03] mdosch opened #1525 "Show XEP-0353 Jingle Message Initiation"
Even if profanity can't (yet?) do a/v calls I'd like to be able to see when a contact tries to initiate an [XEP-0353 Session](https://xmpp.org/extensions/xep-0353.html#intent).

The usecase: Often my phone is muted in another room or my jacket and I might not realize I'm getting called via XMPP even if I'm sitting in front of my computer using one of the best XMPP clients. :)

[2021-04-21 12:45] kaffeekanne commented on #182
An `/editor` command for extended message composing was introduced by #1521.

[2021-04-27 18:52] szczja opened #1527 "Clock in bottom status bar awakes inactive tab in Byobu"
Profanity is running in one of tabs in Byobu (text window manager on top of tmux). It seems that clock in bottom status bar of Profanity awakes every one minute inactive tab in Byobu. Byobu marking tabs which have some changes inside them by bolding tab title. I haven’t found setting in https://github.com/profanity-im/profanity/blob/master/profrc.example for  disabling a clock.

## Expected Behavi

[2021-04-27 20:28] mwuttke97 commented on #1527
Well, I suppose the clock is also unnecessary if you use plain `tmux`, since `tmux` also has a similar clock built into its default status line.

[2021-05-07 14:35] mdosch opened #1530 "Can't send OMEMO messages after reconnect"
Whenever profanity reconnects I can't send OMEMO encrypted messages afterwards. I can provide you a log file (but I won't publish it) if you contact me via XMPP or Email: martin@mdosch.de

## Expected Behavior
OMEMO still works after reconnect.

## Current Behavior
Profanity tells me it doesn't have any key to encrypt to the contact. I have to do `/omemo end` and `/omemo start` to get it working a

[2021-05-07 16:11] mdosch opened #1531 "Use direct messages instead of MUC-PMs for non-anonymous MUCs"
There was a discussion in the profanity MUC about the behavior of profanity when sending PMs in a OMEMO enabled MUC. As OMEMO MUCs are private non-anonymous MUCs it was concluded that it would be nice to always start a direct chat session with the JID instead of sending a MUC PM when doing `/msg muc_nick` in a non-anonymous MUC like suggested by [modernxmpp](https://docs.modernxmpp.org/client/grou

[2021-05-10 16:12] licaon-kter opened #1533 "Can't paste logs because they start with `./xxx`"
`Your text contains a slash in the first 4 characters`

[2021-05-11 10:16] #1516 closed

[2021-05-12 14:36] #1531 closed

[2021-05-14 07:47] al-al-physics opened #1535 "build error: undefined reference to `xmpp_stanza_etc..."
When building, command "make" gives me errors of the type:

undefined reference to `xmpp_stanza_etc

where etc is either "get_child_by_name_and_ns" and "new_from_string"

Current distribution, XUbuntu 20.04

Both profanity and libmesode pulled from last version.

building of libmesode without errors

./configure of profanity recognizes libmesode

last part of the output of "make":

/usr/bin/ld: sr

[2021-05-14 07:58] jubalh commented on #1535
1) I should close this without any answer since you chose to not follow the issue template
2) You are missing dependencies. Go to our website and read how to build Profanity.

[2021-05-14 07:58] #1535 closed

[2021-05-14 08:07] al-al-physics commented on #1535
1. how rude and rigid: I read the template and followed its structure
2. I read it all, and checked dependencies twice
3. the name "profanity" is not earned if you apply church-like rules

[2021-05-16 08:07] mwuttke97 commented on #1235
I also have this issue. I use `profanity` inside `tmux`. When the `tmux` window size changes, `profanity` sometimes resizes the window. Note that I tested this on very slow hardware (an old Raspberry Pi over a slow internet connection). My work-around, to force a complete window redraw, is as follows:

- Create a split window in `tmux`.
- Wait until `profanity` redrew everything. Given the slow ha

[2021-05-17 16:54] DebXWoody commented on #1530
I think we need to do a "omemo session start" for all open windows where the chat mode is "OMEMO".

[2021-05-18 18:31] g4570n opened #1536 "Improve Tab completion"
## Expected Behavior

![Image of Tab leaving a space after autocomplete a command](https://0x0.st/-jRv.png)
For example: if I type `/conn` and press the `TAB` key, the `/connect` command is autocompleted, adding a space ready to start writing the account name, avoiding having to press the `space bar`.

## Current Behavior

![Image of Tab not leaving a space after autocomplete a command](https://0x

[2021-05-18 20:22] jubalh commented on #1536
Honestly I like the behaviour like it is. There are also commands that don't take any arguments. And i don't think pressing space is taking so much time..

[2021-05-19 06:58] jubalh commented on #1536
So I talked with others about this and noone sees much value in this change.

Also so far the space is what lets tab completion know whether to complete the first word or another parameter of that command. I'm not sure how we would otherwise do it.

Will close this.

[2021-05-19 06:58] #1536 closed

[2021-05-26 01:36] g4570n opened #1538 "[OMEMO] profanity should fix the PEP access model if wrongly configured by another client"
Me and my friend use the same version of profanity, we both have two OMEMO keys, one from another client and one created in profanity. When we do `/omemo fingerprint <account>` we only get the fingerprint of another client, but the profanity of the other is not listed.

But if we both do: `/omemo fingerprint` in the console, if the hash of profanity and that of the other client we use come out

I

[2021-05-26 01:52] ffuentese commented on #1538
Also it's not possible to add the other device's fingerprint because it's "unknown"

[2021-05-26 04:15] DebXWoody commented on #1538
Hello,
I'm working on OMEMO bug-squashing. Feel free to join the party ;-) I would like to check some things with you.

Is the device listed in the file `~/.local/share/profanity/omemo/<YOUR_JID>/known_devices.txt`?

[2021-05-26 05:15] g4570n commented on #1538
At the beginning of this file are listed mine, both, Gajim's and profanity's. But of my buddy's devices, there is only one listed there

[2021-05-26 07:49] DebXWoody commented on #1538
Use `/xmlconsole` to open the XML Console.

Prepare the following line ( set `from` and `to` attributes) (one line!)

`
<iq type='get' from='your@domain.tld' to='buddy@domain.tld' id='getOmemoDeviceList'><pubsub xmlns='http://jabber.org/protocol/pubsub'><items node='eu.siacs.conversations.axolotl.devicelist'/></pubsub></iq>
`

Send this **one** line via the `xmlconsole`. https://github.com/profani

[2021-05-26 14:43] g4570n commented on #1538
No.

Yes.

One device.

[2021-05-26 18:46] g4570n commented on #1538
Ok, after doing what you ask me, I received a huge piece of text in response, is there something I should do with that?

[2021-05-26 19:22] DebXWoody commented on #1538
No,... we don't care about the content. ;-)
It seems the key has been generated and are also stored on PEP. That is fine.
But, the device is not listed in the device list. This may happen if you clean the device list.

Maybe it will be fixed if you clean the device list from profanity `/omemo clear_device_list` and login via (Conversations?).
( But I'm not sure).

[2021-05-26 19:30] mwuttke97 commented on #1538
Perhaps you could try to compile and run the git `master` version. I think there was an issue with publishing the devlist (and I'm sure that I touched this code). We have also resolved a couple of other OMEMO-related issues, so trying the `master` version is really worth it if you want to use OMEMO.

[2021-05-26 19:44] jubalh commented on #1538
Once we have found the last OMEMO issues I will create a 0.11.0 release so that this stuff reaches users.

[2021-05-26 19:51] g4570n commented on #1538
to see if I understand you. Do you want me to run: `/omemo clear_device_list` on the console, and then I log out of Profanity and log in from my other client (Gajim)?

[2021-05-27 00:17] g4570n commented on #1538
My buddy and I tried to add each other's Profanity client fingerprints manually in the `known_devices.txt` file, like this:

He passed me his device ID and fingerprint, and I did the same with him. I opened the file `known_devices.txt` and added it below your account name like this:

[code]

`(1)` This was already in the list, it is the ID of the mobile device (Blabber), the only one that profanit

[2021-05-27 04:15] DebXWoody commented on #1538
Normally, but I didn't check it in details, it should work like this:
 * If you clean-up the device list, the client should re-announce his device ( profanity *should* set this device after clean
 * If you restart gajim, the client should add this device to the list
 * ...

I think, we may have an issue if you to it in the other way:
 * If you clean-up the device list via gajim
 * We may no not  r

[2021-05-27 04:35] g4570n commented on #1538
I already ran the `/omemo clear_device_list` command in Profanity and that didn't change anything, the ID of my buddy's profanity client still doesn't appear. Neither the ID of mine appears in the client profanity of him.

The problem is between profanitys clients, my buddy's and mine, which are not recognized. From my profanity client I have been able to chat with other different clients using Om

[2021-05-27 07:42] mwuttke97 commented on #1538
On 27/05/2021 06:35, g4570n wrote:

Just to be sure, have you already tried the `git master` version? If
not, we may stumble upon the same OMEMO issues again and again...

I am pretty sure that I had similar (reproduceable) issues with the
release, but publishing the device list seems to work now
(reproduceably) in `master`.

The "huge piece of text" is an "OMEMO bundle". This contains a set of
pu

[2021-05-27 17:23] g4570n commented on #1538
I have not compiled Profanity, I have the version available through the OpenBSD package.
https://openports.se/net/profanity

[code]

[2021-05-28 18:12] DebXWoody commented on #1538
If you run the `clear_device_list` your buddy should see your device. It will not change your buddy's list, it should change your list.
Can you check if this solved the issue on your side? Your device id should be in your device id list.

[2021-05-28 18:29] DebXWoody opened #1541 "OMEMO excluding sending device in groupchats"
## Expected Behavior
https://xmpp.org/extensions/xep-0384.html#encrypt says

_(i.e. including their own devices node, but excluding itself)_

## Current Behavior

This part has been done in e8664e273 for 1-to-1 `chat`, but not for `groupchat`.

Sending a message to a groupchat:

[code]

## Possible Solution
Need to be fixed in the part above "Encrypt keys for the recipients".

I will take this tas

[2021-05-28 19:29] g4570n commented on #1538
Please describe the correct process to follow, I just have to execute the `/omemo clear_device_list` command on my side... and that's it? Then my buddy will be able to see my device from the other side in his profanity client?

Remember I told you earlier that we both have IDs and fingerprints added manually, keep that in mind.

[2021-05-29 08:07] DebXWoody commented on #1538
- You: /omemo clear_device_list
- Profanity should set your device id in your device id list
- Your buddy: `/msg <your jid>` check the fingerprints via `/omemo fingerprint`

There are 4 files for OMEMO ( `identity.txt` `known_devices.txt`  `sessions.txt`  `trust.txt` ).
I don't know which files you have changed. Maybe it's better to start from beginning.

[2021-05-29 14:50] DebXWoody opened #1544 "Message Reflection"
# How should we implement message reflection?

## xep-0045

https://xmpp.org/extensions/xep-0045.html#message

## Wiki

https://wiki.xmpp.org/web/XEP-Remarks/XEP-0045:_Multi-User_Chat#Matching_Your_Reflected_Message

## xep-0359

https://xmpp.org/extensions/xep-0359.html

[2021-05-29 16:10] DebXWoody commented on #183
We have implemented an `/editor` command (#1485) - vim can be used with `:set spell spelllang=en` for spell checking.

[2021-05-29 16:17] DebXWoody commented on #188
Maybe a settings property flag: "Always accept incoming subscription requests, when the JID is in the roster".

[2021-05-29 16:26] DebXWoody commented on #733
I will add this into the implementation of OX ( #1331) :+1:

[2021-05-29 17:19] g4570n commented on #1538
Here (https://github.com/profanity-im/profanity/issues/1538#issuecomment-849205206) I comment that the file that we modify manually is: `known_devices.txt`

[2021-05-29 18:45] Mic92 commented on #183
Launching an editor for every message sounds a bit tedious.

[2021-05-29 19:21] jubalh commented on #1544
What's wrong with our current approach?

[2021-05-29 21:28] ffuentese commented on #1538
I'm the buddy and I did the same things and I don't see him. It's as if profanity is not broadcasting the fingerprint.

I'd try reproducing the issue with other people.  Both using the same version of profanity.

[2021-05-29 21:34] g4570n commented on #1538
My buddy keeps seeing only one fingerprint, Gajim's, Profanity's doesn't come out.

You should try to test using version 10 to see if you can reproduce this problem.

[2021-05-30 07:42] DebXWoody commented on #1538
@jubalh Please add label "bug"

[2021-05-30 07:50] DebXWoody commented on #1538
After I did a `/omemo clear_device_list` profanity didn't announce his device.
I restarted profanity and profanity pushed his device id. 1 this we should push the device id just after clean_device.

[2021-05-30 07:52] DebXWoody commented on #1538
Is it possible to build profanity master? Do not use XMPP library: libmesode, please build with `libstrophe`.

[2021-05-30 07:58] DebXWoody opened #1545 "OMEMO - announce device id after clear_device_list"
## Expected Behavior
We should announce the OMEMO device ID, just after we did a `/omemo clear_device_list`.

## Current Behavior
The user needs to restart profanity to announce the current device.

See: #1538

[2021-05-30 09:01] DebXWoody commented on #1538
@ffuentese @g4570n You can also ping me via groupchat

This stanza should set your own device list. You can try to set your device ids:

[code]

[2021-05-30 15:37] g4570n commented on #1538
I changed the IDs to those of my two clients and sent this via the `/xmlconsole`, and I got an error response:

[code]

[2021-05-30 17:24] DebXWoody commented on #1538
I think I got it!
When we update / send the device list, we also adding `<publish-options/>` to set the `pubsub#access_model` to `open`.
When the node exists, we will get a `<precondition-not-met/>` if the existing node doesn't have open as access_model.

I guess the `access_model` is not set to open. You can request the configuration via:

[code]

[code]
I think you `<value/>` is not `open`?

[2021-05-30 17:30] DebXWoody commented on #1545
I think the `<publish-options/>` should be used when we creating the node ( node does not exists ). If the node exists, we shouldn't use this option. Maybe we should display a working if there is another access_model used ( not `open`).

See: https://github.com/profanity-im/profanity/issues/1538#issuecomment-851033245

[2021-05-30 22:03] g4570n commented on #1538
[code]

[2021-05-31 07:28] mwuttke97 commented on #1538
So the issue is the following: The access model for the PEP node for the devlist was not set to `open`.
Probably, this was because Gajim created the node, and before [this commit in Gajim](https://dev.gajim.org/gajim/python-nbxmpp/-/commit/0a3564f7239e0f9423dc7f94b1c6f79da8f0929c), the access model was indeed not explicitly set to open.

So what we need to fix is: If publishing the devlist (or the

[2021-05-31 12:07] catafest opened #1547 "gentoo dependency on shell unmask by missing keyword without any environment"
gentoo dependency on shell unmask by missing keyword without environment
select profile set to desktop

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. command :
...
emerge --ask --autounmask-write net-im/profanity
...
2. output with :
...
 - net-im/profanity-0.9.5::gentoo (masked by: missing keyword)
...
## Context

## Environment
* Give us th

[2021-05-31 12:50] jubalh commented on #1547
@catafest that's not a upstream issue. That rather sounds like it's an issue on your system.

@andrey-utkin I just checked the Gentoo ebuild. would you mind updating to 0.10.0? So far it seems Gentoo is still having 0.9.5.

[2021-05-31 12:50] #1547 closed

[2021-06-02 11:22] #1530 closed

[2021-06-02 18:50] DebXWoody commented on #1544
When I understood well, we should use message-id (muc#stable_id) instead of
XEP-0359. If we assume that the implementation follows xep-0045, it will be
possible to build message reflection based on message-id, only.
See XSF-MUC log (today)

[2021-06-03 08:52] DebXWoody commented on #1538
### Question

@g4570n Everything it working for you? Did is solve your problem?

@jubalh @mwuttke97
Do we need to provide a fix for it? Gajim will change the access_model to open - AFAIK.
Step by step the clients and accounts will have `open` by default. I think with the warning message I have implemented + an example of a stanza to change the access_model on our website (blog) should be fine.

Wh

[2021-06-03 09:08] mdosch commented on #1538
I fear this will lead to a lot of questions how to change the access model in the MUC and maybe even issues. How much effort would it be to set the access model to open when we publish keys?

[2021-06-03 09:31] licaon-kter commented on #1538
Conversations `open`s too

[2021-06-03 09:41] DebXWoody commented on #1521
See: #1546

[2021-06-03 12:15] DebXWoody commented on #1538
We need to check if the response is  `<precondition-not-met/>`

https://xmpp.org/extensions/xep-0060.html#publisher-publish-options

If it's the case, we need to process https://xmpp.org/extensions/xep-0060.html#owner-configure
( It's not "just" a stanza ;-) )

[2021-06-03 19:10] DebXWoody commented on #1521
I just tried to use a graphical editor ( `gvim` ). At the beginning everything looks fine, but after saving the file, the text will not be added to readline. gvim will run in the background, so we are not able to wait for the session.

I created a file `/usr/local/bin/gvimf`

[code]
In profanity I set `compose.editor=gvimf`.
This was working.

[2021-06-04 02:35] g4570n commented on #1538
I think so

[2021-06-04 05:44] jubalh commented on #1544
https://logs.xmpp.org/xsf/2021-06-02?p=h#2021-06-02-d1cb6d2c74b524e1
[code]

[2021-06-05 07:17] DebXWoody opened #1551 "OMEMO - Check implementation - headline / devicelist"
When I remember well, profanity asks the buddy`s via <iq/> to get the OMEMO device list.

The OMEMO device list will be send via headline from the buddy to the user.

`
<message type="headline" to="user1@domain/profanity.37lb" from="user2@domain"><event xmlns="http://jabber.org/protocol/pubsub#event"><items node="eu.siacs.conversations.axolotl.devicelist"><item id="current"><list xmlns="eu.siacs.c

[2021-06-05 07:26] DebXWoody opened #1552 "OMEMO - Checking own device list after connect"
On one account I have the following situation:

- Profanity has a OMEMO setup
- I may deleted the omemo list from another client
- The profanity's device list is not in the list of devices
- Profanity doesn't check the own device list after connecting the server

I just saw: `[OMEMO] publish own OMEMO bundle` which will upload the bundle.

[2021-06-05 07:48] DebXWoody commented on #1552
I need to check if this function has been called:
https://github.com/profanity-im/profanity/blob/8ffb1bdd37fc92c14294ad2b1d3dbc7b849249fc/src/event/server_events.c#L201-L206

[2021-06-05 08:08] DebXWoody commented on #1552
:thinking:
https://github.com/profanity-im/profanity/blob/8ffb1bdd37fc92c14294ad2b1d3dbc7b849249fc/src/omemo/omemo.c#L1350

[2021-06-05 14:43] DebXWoody commented on #1552
Maybe this will fix the issue :thinking:

[code]

[2021-06-05 17:48] DebXWoody opened #1554 "Compare window with window number"
This should be reviewed. During implementation of attention flag, I had some issues:

https://github.com/profanity-im/profanity/blob/8ffb1bdd37fc92c14294ad2b1d3dbc7b849249fc/src/ui/window_list.c#L1213

Does it compare a window number ( `current` ) with the pointer of the windows ( `curr->data` )?

[2021-06-05 17:51] DebXWoody commented on #1551
It would be very nice if we will be able to get notifications about device list changes. I will take a look.

[2021-06-06 07:19] DebXWoody opened #1555 "Buddy status is offline in chat window"
## Expected Behavior
If the buddy is online, the status in chat window should be online as well.

## Current Behavior
Sometimes, the buddy is online in the roster and in MUCs. When I open a dialog `/msg buddy` the buddy is shown as offline. I also didn't get MAM request.

## Possible Solution

## Steps to Reproduce (for bugs)
Not reproducible, always. If it's the case, it look quite reproducible.

[2021-06-06 17:24] DebXWoody commented on #1070
The last weeks I did some improvements for OMEMO,
The debug logging has been improved to see whats going on.

I was able to provide the following patches:

- OMEMO - Unable to publish own device list #1548
- Restart OMEMO Session after lost connection #1549
- OMEMO: Separate handling of device list #1553

It seems there is still an issue with MAM. When I open a `chat` window, I get `You received a

[2021-06-07 15:56] jubalh commented on #1070
There is no MAM issue :)
We just send a new MAM request  and display what we get. We add it to the DB (once) but don't retrieve from there yet.

MAM is just not finished (many things need to be done there).

[2021-06-08 06:59] jubalh commented on #1555
Can't reproduce at all :)

[2021-06-08 09:50] mdosch opened #1556 "Message window is empty after reconnect"
If a reconnect happens while a chat window (MUC or 1-1) is open the whole window (top bar, bottom bar, participant list, chat win etc.) is empty (only background color) after the reconnect. Then it gets redrawn but the chat win remains empty.

https://user-images.githubusercontent.com/5103003/121163534-2b569c00-c84f-11eb-9839-1e930bc71f74.mp4

## Expected Behavior
Show the messages in chat window

[2021-06-08 10:02] mdosch commented on #1231
You don't have a different color for the highlight term set, compare to my settings:

[code]

The roommention.term is what is doing weird things.

[2021-06-08 16:50] jubalh commented on #1231
Send from another client to a client with nick jubalh: `õõ jubalh õõ martin õõ jubalh õ asdf`
![showscr](https://user-images.githubusercontent.com/1658215/121225920-4a265400-c88a-11eb-9cfe-a9d3227d03dc.png)

[2021-06-08 20:14] #1231 closed

[2021-06-09 08:08] #1552 closed

[2021-06-09 12:43] raspbeguy opened #1558 "Command to show one single bookmark details"
## Expected Behavior

Provide a command, like `/bookmark list <jid>` or `/bookmark show <jid>` to examine a specific bookmark details (with info like nickname, autojoin...)

## Current Behavior

Today `/bookmark list` gives the full list of bookmarks, and not all the wanted details. For instance, the nickname given is the one profanity has currently on that MUC, which can differ from the one in yo

[2021-06-09 16:42] #1554 closed

[2021-06-09 16:56] jubalh commented on #1524
@mdosch your server supports that/has those infos set?

[2021-06-09 17:11] #1555 closed

[2021-06-09 17:12] jubalh commented on #1478
@wstrm :-)

[2021-06-09 21:09] mdosch commented on #1524
Am 9. Juni 2021 16:57:05 UTC schrieb Michael Vetter ***@***.***>:
***@***.*** your server supports that/has those infos set?

Yes.

[2021-06-09 21:20] jubalh commented on #1509
@jvoisin any news?

[2021-06-09 21:22] jubalh commented on #1474
@mwuttke97 something for you?

[2021-06-09 21:25] jubalh commented on #52
There is also XEP-0235: OAuth Over XMPP.
Since Gtalk is not a thing anymore and I don't use oauth myself I'll close this for now.

[2021-06-09 21:25] #52 closed

[2021-06-09 21:28] jubalh commented on #699
Closing since basic support is present.

[2021-06-09 21:28] #699 closed

[2021-06-09 21:29] jubalh commented on #511
I don't have interest in implementing this myself.

[2021-06-09 21:29] #511 closed

[2021-06-09 21:31] jubalh commented on #459
I don't plan on implementing this myself.

[2021-06-09 21:31] #459 closed

[2021-06-09 21:33] jubalh commented on #369
@mwuttke97 something for you?

[2021-06-09 21:33] jubalh commented on #361
I don't plan on implementing this myself.

[2021-06-09 21:33] #361 closed

[2021-06-09 21:39] jubalh commented on #953
@wstrm @DebXWoody thoughts?

[2021-06-09 21:40] #949 closed

[2021-06-09 21:40] jubalh commented on #945
@philipflohr ?

[2021-06-09 21:41] jubalh commented on #945
@mwuttke97 maybe something for you?

[2021-06-09 21:44] jubalh commented on #907
I think this is now in Profanity since a long time:
https://profanity-im.github.io/guide/latest/reference.html#console

[2021-06-09 21:44] #907 closed

[2021-06-09 21:47] jubalh commented on #900
I don't plan to do this myself.

[2021-06-09 21:47] #900 closed

[2021-06-09 21:48] jubalh commented on #767
@mwuttke97 ? :)

[2021-06-09 21:49] jubalh commented on #1412
I rather will not have them there.

[2021-06-09 21:49] #1412 closed

[2021-06-09 21:49] jubalh commented on #1359
@wstrm ping

[2021-06-09 21:50] jubalh commented on #1185
@DebXWoody you did this recently, right?

[2021-06-09 21:51] jubalh commented on #982
Seems like people don't really use this anymore nowadays.

[2021-06-09 21:51] #982 closed

[2021-06-09 21:52] jubalh commented on #1431
@freswa can you implement this?

[2021-06-09 21:54] jubalh commented on #497
@mwuttke97 :)

[2021-06-09 21:56] freswa commented on #1431
@jubalh My work schedule is to tight for now - sorry. Maybe later this year. I'm happy to test and help anyone who like to implement this :)

[2021-06-09 21:57] jubalh commented on #769
I don't plan to implement this myself and it seems like @ReneVolution moved on too.

[2021-06-09 21:57] #769 closed

[2021-06-09 21:57] jubalh commented on #892
I don't plan to implement this myself and it seems like @ReneVolution moved on too.

[2021-06-09 21:57] #892 closed

[2021-06-09 21:59] jubalh commented on #1208
@massanchik still relevant?

[2021-06-09 21:59] #1208 closed

[2021-06-09 22:06] jubalh commented on #1431
Ok I don't plan to implement this myself. Feel free to open a PR when you have time :-)

[2021-06-09 22:06] #1431 closed

[2021-06-10 05:09] DebXWoody commented on #1185
Am Mittwoch, den 09.06.2021 um 14:50:31 -0700 schrieb ***@***.***:

No, this hasn't been implemented. I think @mwuttke97 has implemented a
message, if we didn't find a key at all.

Personally, I also think we shouldn't print a message during sending.
Maybe I have a buddy which I decided that I wouldn't trust his mobile
phone.

I saw that we get a `headline` message from users. I will try to
implem

[2021-06-10 05:53] wstrm commented on #1359
Did #1459 fix this?

[2021-06-10 06:59] jubalh commented on #1551
When do we get this send?
What do we want to display?

[2021-06-10 07:20] jubalh commented on #1473
I don't think there is much we can do here. Except make some parts of profanity more efficient/faster. We have this planned already.

[2021-06-10 07:20] #1473 closed

[2021-06-10 07:23] jubalh commented on #1277
@pasis ideas? :)

[2021-06-10 07:25] jubalh commented on #1006
@xenrox any progress?

[2021-06-10 07:28] jubalh commented on #510
I don't plan to implement this myself, and seems none of the other developers had interest.

[2021-06-10 07:28] #510 closed

[2021-06-10 07:29] jubalh commented on #490
We need to wait until @weiss finally joins us and implements his more flexible UI here ;p
I'm not interested in this myself.

[2021-06-10 07:29] #490 closed

[2021-06-10 07:33] jubalh commented on #723
Seems noone was interested in implementing this.
Personaly I also don't need it. So closing for now.

[2021-06-10 07:33] #723 closed

[2021-06-10 07:36] jubalh commented on #963
Help sais: `set <account> <presence> <priority>   : Set the priority (-128..127) to use for the specified presence.`

[2021-06-10 07:36] #963 closed

[2021-06-10 07:43] jubalh commented on #1468
Since libstrophe supports this and we plan to deprecate libmesode soon I'll close this as no work in Profanity is needed.

[2021-06-10 07:43] #1468 closed

[2021-06-10 07:47] jubalh commented on #824
No Windows here either.

[2021-06-10 07:47] #824 closed

[2021-06-10 07:50] jubalh commented on #1004
No progress here it seems.
Probably https://github.com/profanity-im/profanity/issues/1158 will be enough anyways.

[2021-06-10 07:50] #1004 closed

[2021-06-10 08:11] weiss commented on #1544
Only if you assume the implementation follows XEP-0045, [version 1.31][1] (2018-03-06) or newer, which is of course not true for all servers in the wild.  So the question would be how to deal with services not announcing that feature.

I fully agree that Origin ID is a workaround that should become redundant over time.  Question is how to get there, and I think the first step would be making sure

[2021-06-10 08:20] jubalh commented on #1544
Thanks for the feedback!

So I think it's best to stay with our current model of message reflection. And switch in a few years :)

[2021-06-10 08:20] #1544 closed

[2021-06-10 08:31] raspbeguy commented on #1518
Can confirm that, with up-to-date master version.

[2021-06-10 08:32] jubalh commented on #851
@jscott0 ping :-)

[2021-06-10 08:46] jubalh commented on #1494
Seems so far not even supported by ejabberd ;)

[2021-06-10 08:50] jubalh commented on #841
OTR and OMEMO nowadays send a dummy message AFAIK.

[2021-06-10 08:50] #841 closed

[2021-06-10 08:52] raspbeguy commented on #1494
Well then, so we have a lot of time before this becomes critical :)

Would be good not to miss the boat when it does though.

[2021-06-10 08:52] jubalh commented on #1359
Most likely works ;)

[2021-06-10 08:52] #1359 closed

[2021-06-10 08:57] jubalh commented on #977
@Kekun do you know whether there is a way to find out whether a notification server is actually running? :)

[2021-06-10 09:00] jubalh commented on #1494
Sure. But if servers didn't even implement it yet it's not like we need to be afraid that the will drop support anytime soon ;) So this "eventually" is quite far in the future.

[2021-06-10 09:13] xenrox commented on #1006
I am currently migrating my server and have no XMPP acoount because of that. After the migration is done, I can hopefully finish this patch.

[2021-06-10 11:50] Kekun commented on #977
No sorry, I know nothing about libnotify, sadly. :x I can't even remember if I ever used it.

[2021-06-10 11:51] #1525 closed

[2021-06-10 11:53] jubalh commented on #977
Ok, thanks anyways :)

[2021-06-10 12:13] jubalh commented on #1006
@xenrox I think I know some people who could offer you a test account on their server, interested?

[2021-06-10 12:18] xenrox commented on #1006
Thanks, but I expect to be done by this weekend, only ejabberd and nextcloud missing, so hopefully this won't be necessary.

[2021-06-10 16:05] #1042 closed

[2021-06-10 16:11] #383 closed

[2021-06-10 16:14] jubalh commented on #767
Some weird html otr thing? Can't reproduce.

[2021-06-10 16:14] #767 closed

[2021-06-10 16:17] jubalh commented on #953
@eduncan911 interested in working on this yourself?

[2021-06-10 16:22] eduncan911 commented on #953
I'm not actively using profanity (phun) at this time.  Not sure I have the bandwidth.

[2021-06-10 16:26] jubalh commented on #953
What a shame :) I'll close this then since I'm not interested in it myself.

[2021-06-10 16:26] #953 closed

[2021-06-10 16:32] eduncan911 commented on #953
Oh,I prefer this over any other client I've used!

I just haven't had the need for a few years now.

On Thu, Jun 10, 2021, 12:27 PM Michael Vetter ***@***.***>
wrote:

[2021-06-10 16:44] jubalh commented on #188
I think current way is good :)

[2021-06-10 16:44] #188 closed

[2021-06-10 16:51] jubalh commented on #844
@DebXWoody I heard that conversations.im requires captcha. AFAIK you have an account. Maybe you could test whether this works?

[2021-06-10 16:52] jubalh commented on #451
I think with MAM this is not really a thing anymore.

[2021-06-10 16:52] #451 closed

[2021-06-14 16:50] jubalh commented on #1212
@petvoigt @pasis @kousu what to do with this? :)

[2021-06-21 20:37] ffuentese commented on #1538
Is this still solved? I still have issues talking to other people using profanity. Just now people complain that they cannot read me even if they accept my keys. I think I'm gonna ditch profanity until this issue is solved.

[2021-06-21 21:33] mwuttke97 commented on #1538
(I assume you meant "is this already solved".)

Depends on what you mean by "already". I don't think the issue was
solved in the latest release of Profanity (0.10.0). Have you tried the
git "master" version? Lots of OMEMO issues have been resolved there.

[2021-06-22 07:25] jubalh commented on #1538
Did you read the issue? It's a bit complex to answer this question. The issue for the person is resolved, as you can see in:
"Did is solve your problem? - I think so".
Why? Because *another* client configured the nodes wrongly and @DebXWoody told the user a way to correct the nodes by sending something on Profanitys XML console. You could read that up above.

In this case you need to provide more

[2021-06-23 02:25] ffuentese commented on #1538
I'm the OP's friend, it's the same version, same report, same machine. It doesn't work because profanity doesn't broadcast its  own fingerprint so other clients can't see it.

i talked to him from OpenBSD  with Gajim (in another computer) and he talked to me and I couldn't read his messages with OMEMO working (but he could read my messages). The only thing that's left is that there's some dependen

[2021-06-23 03:52] DebXWoody commented on #1538
Am Dienstag, den 22.06.2021 um 19:25:14 -0700 schrieb ***@***.***:

Set your PEP item `eu.siacs.conversations.axolotl.devicelist` to open.

 1) Connect your Account with gajim
 2) Account -> Your Account -> Advanced -> PEP Configuration
 3) Select Service item `eu.siacs.conversations.axolotl.devicelist`
 4) Check the value of the access_model

"Specify the subscriber model" must bet set to `open`.

[2021-06-25 12:23] mdosch commented on #1425
Another use case: Sometimes you want to list the participants which have no affiliation yet to give member status to regulars so that they have voice once you have to switch to moderated due to a spam wave.

[2021-06-26 21:38] jubalh commented on #1509
https://github.com/strophe/libstrophe/pull/179 got merged in libstrophe.

[2021-06-26 21:38] #1509 closed

[2021-06-27 20:59] jubalh commented on #1006
@xenrox ping :)

[2021-06-28 15:45] jubalh commented on #1518
@mwgamera can you test whether https://github.com/profanity-im/profanity/pull/1563 fixes this?

[2021-06-28 17:40] #977 closed

[2021-06-28 17:41] #1518 closed

[2021-06-29 07:45] jubalh commented on #1212
No reactions.

[2021-06-29 07:45] #1212 closed

[2021-06-29 09:31] weiss commented on #1538
You _could_ just [submit a configuration form][1] and only include the `pubsub#access_model` field, by the way.

However, it seems you're already [performing the full configuration form dance][2] to fix the access model for bundle nodes, so I'd think you could reuse that code?

[1]: https://xmpp.org/extensions/xep-0060.html#owner-configure-submit
[2]: https://github.com/profanity-im/profanity/blob

[2021-06-29 10:19] mwgamera commented on #1518
Yes, it fixes it and I can no longer reproduce it on master. But I think it introduces another subtle bug that the file will be rotated at most once because `log_file = g_strdup(mainlogfile)` is not NULL so `log_init` will set `user_provided_log` to TRUE.

[2021-06-29 11:52] jubalh commented on #1518
You mean in `_rotate_log_file()`? That function is only called if `user_provided_log` is false.

[2021-06-29 13:05] mwgamera commented on #1518
Yes, and as `_rotate_log_file` invokes  `log_init` with non-NULL `log_file`, it _changes_ the value of `user_provided_log` from FALSE to TRUE here:
https://github.com/profanity-im/profanity/blob/482f8955d7ee21515a82d1844620385ad4503079/src/log.c#L152-L163
Unless I'm missing something, when `_rotate_log_file` is reached, the actual path returned by `files_get_log_file(NULL)` should be the same as c

[2021-06-29 13:52] jubalh commented on #1518
Ah yes, so it should actually pass NULL. Do you want to make a PR?

[2021-06-30 02:49] binex-dsk commented on #199
eight year old issue, add wehennn????

[2021-06-30 06:52] jubalh commented on #199
@binex-dsk we waited 8 years for the chosen one to appear. The issue is quite hard and only a very special person with unlimited access to the timestream can solve it.
We are delighted that the chosen one finally appears, it is **you**!

Now that you have found your purpose in life we estimate that you will solve this issue by next week. Please hurry up and create a PR.

[2021-06-30 09:49] #1524 closed

[2021-06-30 09:50] jubalh commented on #1474
@mwuttke97 if I remember correctly you mentioned in the MUC that this bug should be trivial. Do you think you can tackle it soonish so it will be in 0.11? :)

[2021-06-30 09:59] jubalh commented on #1478
Note: There was also a bug in http upload: https://github.com/profanity-im/profanity/commit/e9ef3cf1d26400b47a276c758edc87e15e2de50a

[2021-06-30 10:30] jubalh commented on #1478
I fixed the bug mentioned by @mwuttke97.
Everything else works for me fine. Can't reproduce any bugs with omemo file transfer.

[2021-06-30 13:29] kaffeekanne commented on #1477
That maybe is the thing, highlights should throw a notice, so open a window and highlight that. New messages maybe too (interesting in low noise MUCs), but configurable. I thought i covered that additional requirement in the last paragraph.

I guess it is not a trivial feature request. The overall advantage is to be able to use shortcut keys `Alt -<1....0|q...p>` instead of typing `/win ...` and,

[2021-06-30 13:56] jubalh commented on #1477
I see. In this case this doesn't make any sense to me at all.

Doesn't sound like an improvement that is worth implementing.

We have `/statusbar hide read` which will hide the read windows from the statusbar. That should do fine for people who are in many MUCs and feel overwhelmed by the silent ones.

Alt-a and `/win name<tab>` should be good enough for the navigation part.

[2021-06-30 13:56] #1477 closed

[2021-06-30 21:09] jubalh commented on #316
I think everybody is using XEP-0363: HTTP File Upload nowadays.

[2021-06-30 21:09] #316 closed

[2021-06-30 21:17] mwgamera commented on #1518
No, please handle it in whatever way you like.

[2021-07-01 14:23] #1006 closed

[2021-07-01 14:59] raspbeguy commented on #1490
I don't have the time to do this.

[2021-07-01 14:59] #1490 closed

[2021-07-01 15:05] jubalh commented on #1434
So far untested.

[2021-07-01 15:05] #1434 closed

[2021-07-01 16:21] #955 closed

[2021-07-01 16:22] jubalh commented on #955
@d2-d2 `/silence on`

[2021-07-01 17:40] binex-dsk commented on #199
Hi what is this a joke or is this serious sorry i am unable to tell because autism funny

though i suppose it would finally be an excuse to do some C stuff but then I'd also have to learn to do xmpp stuff

[2021-07-01 17:45] jubalh commented on #199
Just give your best!

[2021-07-01 20:07] binex-dsk commented on #199
well i could if this had documentation for how to add commands and actually do stuff

[2021-07-02 06:28] jubalh commented on #199
You need to check git log or look here for PRs that add commands. Then you can see how others did it before you. But you did a good job for a start!

[2021-07-02 07:37] jubalh commented on #1474
@xenrox do you think you have time to tackle this one?

[2021-07-02 15:37] binex-dsk commented on #199
yea I just checked the PRs and logs for how commands were added. Some stuff i wasnt sure about but it looks to be working (minus the SIGABRT)

[2021-07-02 16:24] diego-treitos commented on #364
Sorry for the necrobump.

If anybody ends up here. I am using this very small plugin that just does the trick, although of course it can be improved. At least it is a good start point.

[code]

[2021-07-02 18:07] jubalh commented on #364
@diego-treitos maybe worth adding to https://github.com/profanity-im/profanity-plugins ?

[2021-07-02 18:22] diego-treitos commented on #364
@jubalh I'd love to. Should I add it to the `development` subfolder? I coded it today and barely tested it so I am not that confident about placing it as `stable`. On the other hand it is just a 34 lines of code...

Let me know where and I will submit a PR

[2021-07-02 18:25] jubalh commented on #364
Great! You can put it in `stable`. Maybe also mention this issue in the commit message (just for reference).

[2021-07-02 18:45] diego-treitos commented on #364
Added the PR https://github.com/profanity-im/profanity-plugins/pull/24

[2021-07-03 09:45] VitoVan commented on #1478
Still no lucky with omemo `/sendfile`.

Profanity said: ` Uploading './file.png' failed: Server returned 404` with ejabberd 21.01

Anything ideas for me to debug this?

[2021-07-03 11:35] jubalh commented on #1478
Does it work with other clients?
Does it only happen when using OMEMO or general file upload?

[2021-07-03 14:53] VitoVan commented on #1478
It works fine with [Conversations](https://conversations.im/).
It only happen when using OMEMO, general file upload works fine.

[2021-07-05 09:29] jubalh commented on #1478
@wstrm is it possible that we send the file size of the unencrypted file and some servers that check this then deny when we upload the encrypted file with a different size?

[2021-07-05 09:56] jubalh commented on #1521
Good enough for now.

[2021-07-05 09:56] #1521 closed

[2021-07-05 10:20] jubalh commented on #1478
@VitoVan do you run your own server? If yes, can we get a test account?

[2021-07-06 05:15] VitoVan commented on #1478
This is what I suspect, but after skimmed through the code, the file size seems to be correct.

https://github.com/profanity-im/profanity/blob/5022aeb3370253d6b7067c04e2bb57d510077d31/src/command/cmd_funcs.c#L5006
https://github.com/profanity-im/profanity/blob/5022aeb3370253d6b7067c04e2bb57d510077d31/src/command/cmd_funcs.c#L4992

And, after adding `curl_easy_setopt(curl, CURLOPT_VERBOSE, 1L);` be

[2021-07-06 05:26] VitoVan commented on #1478
Yes, I do run my own server, but it's not quite feasible to provide a test account on the same server since it's a intranet service.

I'll try to setup a test server and will let you know when it's done.

[2021-07-06 08:12] mdosch opened #1575 "Segfault when using blocked without parameter"
`/blocked` without any parameter leads to a segfault:

[code]

## Expected Behavior
No segfault.

## Current Behavior
segfault

## Environment
* Debian Unstable

[code]

[2021-07-06 08:21] #1575 closed

[2021-07-10 08:21] VitoVan commented on #1478
[credentials.txt-michael.gpg.zip](https://github.com/profanity-im/profanity/files/6794898/credentials.txt-michael.gpg.zip)

Server is ready, credentials for you is encrypted in that file with your public key.

Tested with Profanity and Conversations, result:

- incapable to upload files through OMEMO in Profanity.
- OK to upload files through OMEMO in Conversations.

[2021-07-12 08:15] jubalh commented on #1478
@VitoVan thanks, I'll give it a try.

[2021-07-14 14:30] kaffeekanne opened #1578 "Nick highlighting broken in MUCs"
Up until recent changes the nick highlighting was pretty solid. Meaning if the nick was sourrounded by whitespaces or puntuation the highlighting was triggered. Since some commits, every occurance of the nick as substring of any word can trigger highlighting. Using short ambigious nicks leads to many false positive highlights.

## Expected Behavior

A nick should only be highlighted if it is sourr

[2021-07-14 16:07] kaffeekanne commented on #1578
From my MUC chat log:
[code]
this is what Conversations does. The nick surrounded by punctuation and white spaces. I am not aware of any flaws of this pattern matching. The way profanity did it before, was good too.

[2021-07-15 22:20] qorg11 opened #1580 "Make Alt+F forward a word again"
## Expected Behavior

The input moves to the next word (Like in emacs and most shells)
## Current Behavior

It sets the attention flag
## Possible Solution

Configure keybindings
## Steps to Reproduce (for bugs)

1. Press Alt + F while writing a message with more than 2 words

[2021-07-16 07:47] jubalh commented on #1580
I totally forgot about usual readline shortcuts since I never use them.
We should make sure not to overwrite the most default ones (that make sense) probably: https://readline.kablamo.org/emacs.html

[2021-07-16 15:28] chenrui333 opened #1581 "[bug] profanity 0.11.0 build failure"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure</summary>

[code]

</details>

full build log, https://github.com/Homebrew/homebrew-core/runs/3086512265
relates to Homebrew/homebrew-core#81311

[2021-07-16 15:44] jubalh commented on #1581
libcurl is installed?

[2021-07-17 06:43] c0dev0id opened #1582 "Print date once when day changed in rooms and in open chats"
Hello,

I started using jabber conference rooms and some of them are used to annouce irregular meetups in jitsi or big blue button. It happenes every once in a while that the last message in a room is: "We're meeting today at 18:30 here: [url]"

But then I don't know if this message was written today or yesterday or two days before.

Like here: https://codevoid.de/I/p/scr-2021-07-17_08-35-peN5ciSh

[2021-07-17 07:20] mdosch commented on #1582
Am 17. Juli 2021 06:43:48 UTC schrieb sdk ***@***.***>:

You can configure profanity to always show the date as a workaround. I'm not on a computer now otherwise I'd show you an example.

[2021-07-17 07:55] jubalh commented on #1582
@c0dev0id this is a feature request, not a bugreport. When you created this bug report there was a notice not to create new feature requests. Did you read that? If yes, why did you create this feature request anyways?

That being said I'm considering to let this issue stay open since I already started with this feature quite some time ago. The branch is here: https://github.com/profanity-im/profan

[2021-07-17 09:21] c0dev0id commented on #1582
Apologies, I did not. I skimmed through it, saw the usual bug-report steps "expected, actual, reproduction steps" and deleted the whole thing cause it doesn't apply to feature requests. And frankly, I was not sure if it is one or if I just can't find how to configure it.

Ah! This hint was enough. I was always looking for date settings in the room area, but it's `/time` and it's even in the exampl

[2021-07-17 09:21] #1582 closed

[2021-07-17 16:08] pasis opened #1584 "OMEMO - memory leaks at startup"
`omemo_on_connect()` doesn't free `error` on `G_FILE_ERROR_NOENT` error. This leads to memory leaks in 4 places if OMEMO is not configured.

## Expected Behavior
No memory leaks.

## Current Behavior
[code]

## Possible Solution
Free `error`.

## Steps to Reproduce (for bugs)
1. Build profanity with OMEMO support
2. Run it under valgrind and connect to your account

## Environment
Master branch 45

[2021-07-17 16:19] pasis opened #1585 "Memory leak when open chat window with history"
If I open chat window with `/msg <NAME>` that contains history, I see memory leaks. Also in the chat window I see only opponent's messages in the history (however, this may be unrelated).

## Expected Behavior
No memory leaks.

## Current Behavior
[code]

## Possible Solution
No.

## Steps to Reproduce (for bugs)
1. `/msg <NAME>`

## Environment
Master branch 45fd229c11bed87fe2413785d7b7f571b79225

[2021-07-17 18:22] jubalh commented on #1578
I will take a look about the bug later.
Regex is already requested here: https://github.com/profanity-im/profanity/issues/369

[2021-07-19 07:07] kaffeekanne commented on #1578
That's not exactly what i meant. I think the user will not come up with better regexes than the community. I just think Conversations has a pretty good pattern that can be taken as default in our codebase. If somebody comes up with a better regex, it should be merged in master and not stay hidden in some users local config file.

Nevertheless highlighting is broken right now in 11.0 and master.

[2021-07-19 07:24] jubalh commented on #1578
The bug is about regexes. So that's exactly what you meant. Whether they are custom made from the user for no matter which word or whether we will add a default for the neck based on a regex is another topic.

LIke I said: `I will take a look about the bug later.` so no need to repeat.

[2021-07-20 08:25] jubalh commented on #1580
So what would be good alternatives for the key combos?

alt-f flag window as marked
alt-m - switch between marked windows

alt-a marking as unread

I'm tempted to just let them stay as they are since I guess all the readline combos can also be done with ctrl+arrow keys. And we probably want short key combos for the marking/switching between windows.

[2021-07-20 13:01] qorg11 commented on #1580
Well, if it will be less pain for you, leave them like that. Altough i'd like it to be possible to use Alt+f again

[2021-07-20 13:37] jubalh commented on #1580
It's not hard to change to code to use another binding.
We just need to have a good idea with letters that make sense and at the same time not use default readline letters :/

Do you have sugestions?

[2021-07-20 13:39] qorg11 commented on #1580
Hm, well I think Alt-n doesn't make sense but it is near m so you can quickly press Alt-n and Alt-m?

[2021-07-20 14:29] chenrui333 commented on #1581
@jubalh I think `libcurl` does solve the issue, but we used to have mac system curl dependency before this release. Can you help me with what changes caused the need of the `libcurl`? Thanks!

[2021-07-20 14:55] jubalh commented on #1581
Our CI works fine of os x: https://github.com/profanity-im/profanity/runs/3094602205
In our [Brewfile](https://github.com/profanity-im/profanity/blob/master/Brewfile) we have curl since always AFAIK.
I don't know more but will ping some people who might do.

[2021-07-20 15:07] jubalh commented on #1581
https://github.com/profanity-im/profanity/blob/master/configure.ac#L199 also seems to be in there since forever :)

[2021-07-20 15:11] jubalh commented on #1581
I'm not a macOS user so I don't know what differs from curl in brew and the curl that is on the mac system.

[2021-07-20 15:19] jubalh commented on #1581
Which version is the macos system curl?

[2021-07-20 15:22] jubalh commented on #1581
Good feedback from a macos friend. Seems like your curl version is too old: https://curl.se/libcurl/c/curl_url.html -> `Added in curl 7.62.0 `.

[2021-07-20 15:22] #1581 closed

[2021-07-20 15:43] jubalh commented on #1585
@pasis why exactly is this happening?
In `log_database_get_previous_chat()` we use `prof_message_init()` and then do `msg->plain = strdup(message);`. The function then returns a GSList.
And later we call `g_slist_free_full(history, (GDestroyNotify)message_free);` which should call `message_free()` for all the elements of the list.

[2021-07-20 16:17] pasis commented on #1585
The root cause is that `_chatwin_history()` reassigns every `msg->plain`.

[2021-07-20 17:08] #1585 closed

[2021-07-21 16:20] chenrui333 commented on #1581
@jubalh thanks for the help of moving things along.

[2021-07-21 21:23] jubalh commented on #1581
@chenrui333 You're welcome. Thanks for updating Profanity in hombrew :)

[2021-07-22 04:28] jubalh commented on #1580
What about the others though?

[2021-07-22 06:29] #1584 closed

[2021-07-23 20:16] jubalh commented on #1478
@VitoVan Is it okay for your if I share the credentials with another Profanity dev?

[2021-07-24 01:10] VitoVan commented on #1478
It is okay.

[2021-07-26 15:27] jubalh commented on #1538
Since more people seem to stumble upon this. Here some update:

* @paulfariello is working on this. The WIP branch can be found at https://github.com/paulfariello/profanity/tree/fix/omemo-devicelist-access-model
* We will release 0.11.1 which should fix this issue
* If you copy paste the iq stanza to fix it manually make sure you edit the line in an editor to have everything on one line (no newlin

[2021-07-28 15:13] mhmdanas opened #1588 "Can't install Profanity with terminal-notifier using Homebrew"
## Expected Behavior

`brew install profanity --with-terminal-notifier` should work.

## Current Behavior

[code]

## Possible Solution

Not sure, maybe provide a tap with this option?

## Steps to Reproduce (for bugs)

1. Run `brew install profanity --with-terminal-notifier`

## Context

Homebrew has removed all options for homebrew-core formulae: https://github.com/Homebrew/homebrew-core/issues/

[2021-07-28 15:44] jubalh commented on #1588
Where do you have the `--with-terminal-notifier` from?
In our configure script we use `--enable-notifications`.

Wouldn't that be a bug for homebrew instead of us?

Generally I think that this bug belongs to downstream homebrew and not to us.

[2021-07-28 15:53] mhmdanas commented on #1588
I got it from [the installation guide on the website](https://www.profanity.im/install.html#os-x).

This is not a bug; they disabled it intentionally.

[2021-07-28 16:23] jubalh commented on #1588
BTW that is the old website URL you need to use: https://profanity-im.github.io/guide/latest/install.html#os-x
But since we didn't have feedback from OSX users since some time this information might be outdated.

Then I don't understand. What do you need then?

I don't know brew. So I can't tell you whether that is the right way to pass a configure flag to it. I was saying that `--enable-notificat

[2021-07-28 16:33] mhmdanas commented on #1588
Welp, my bad, though it contains the same info as the one I posted.

I'm willing to open some PRs to update the info on macOS.

I opened this issue more as a sort of heads up, since I thought the maintainers might not be aware of it (as I found no previous issues about this).

Yeah, I just wanted to try and see if it works.

Anyway, I thought up some more alternatives since I opened the issue:
- d

[2021-07-29 07:22] jubalh commented on #1588
That's great! It would be very helpful to have someone with a macOS system who can proofread the information and update it accordingly.

You can improve the macOS instructions in case they differ from regular builds. Here are some resources:

Building guide (it has a macOS section that might need updates?):
* https://profanity-im.github.io/guide/latest/build.html

How we build for macOS for our CI

[2021-07-29 09:20] mhmdanas commented on #1588
Thanks for the resources.

So I quickly took a look at [Profanity's formula](https://github.com/Homebrew/homebrew-core/blob/1e4a5248f4c630f3de5e6e65a258ea0f8701cfbf/Formula/profanity.rb), and oddly enough, it depends on `terminal-notifier` even while not using it. I suppose the fix is very simply to add an `--enable-notifications` argument to the `./configure` call. I'll try to open a PR for this

[2021-07-29 12:24] jubalh commented on #1588
I'm no macOS expert. We use a library called `libnotify` if `terminal-notifier` works with that then all will be good :)

Great!

We have an --enable-X and --disable-x for everything. And if some dependencies are autodetected the --enable will be the default.
It is best if distributions/users just specify the flags they want.

[2021-07-29 12:37] mhmdanas commented on #1588
It used to work for me a while ago (I re-installed Profanity because of some issues), so it should work.

It is best if distributions/users just specify the flags they want.

I was referring to enabling it by default in the Homebrew formula.

[2021-07-29 13:22] jubalh commented on #1588
I see. Good to know.

I see. Sure, the homebrew maintainers should do whatever they see fit. If they don't used fixed maintainers you can certainly enable it by default there. We don't mind.

[2021-07-29 16:20] mhmdanas commented on #1588
So I figured out that the formula already has notifications enabled, so this issue is kinda unnecessary now. Sorry for the disturbance.

I'll be making PRs to update the info for macOS sometime soon.

[2021-07-29 16:20] #1588 closed

[2021-07-29 17:42] mhmdanas commented on #1588
Well, it has notifications enabled, but I still can't get them to work. Will post findings if I discover anything. Sorry for all the spam on this issue.

[2021-08-06 03:23] 4drift commented on #1580
I agree with alt+n as it is convenient. I am greatly displeased by having alt+f gone as I use it to jump words ever constantly and ctrl+arrows doesn't even work for me.

Besides it is terribly inconvenient compared to alt+f/b -- I use it in the terminal constantly too. I'd think more people would have a problem with this binding being taken over. Having a memorable letter just isn't reason enough

[2021-08-07 07:11] jubalh commented on #1580
We don't need to know about this. The original poster said this already.

Then fix your setup.

alt+f is not a "default terminal binding". Actually it has nothing to do with your terminal. It's the default binding for GNU Readline in emacs mode.
If we would have not chosen to use the readline library then this terminal wouldn't work out of the box at all. Like is the case for many applications out

[2021-08-10 08:24] ghost opened #1589 "Chat history lost after closing window"
## Expected Behavior
When closing a chat window and re-opening one, the entire chat history should be displayed when `history=true` is set in the configuration file.

## Current Behavior
During a chat, messages are displayed in the window. Once the window is closed and that I re-open the same one, chat history is blank. `history=true` is set in the configuration file.

## Possible Solution
Chat is

[2021-08-12 09:40] allora commented on #1580
TBH its useful to know how many folks use some (seemingly very common and probably default in some cases) bindings. I Also would prefer profanity to respect this specific binding (atl+f/b).

TBH, not every terminal out there will do ctrl+arrow keys out of the box. Rxvt-Unicode (urxvt) or UXTerm for example. So its not really "fix your setup" since its not always a -default- on every terminal emula

[2021-08-15 01:34] vit1251 opened #1590 "Error during python detection on Debian 11"
Since Debian 11 is release I try to compile latest reelase and meet with next one error:

[code]

My system contain python3.9 version and package was installed.

[2021-08-15 01:35] vit1251 commented on #1002
@PMaynard I also dive into the fact that the autotool scripts do not work well on the new version Debain distribution #1590. If you have a proof of concept for meson, I would happy to join to your fork for testing and support.

[2021-08-16 08:56] jubalh commented on #1580
So this is what's going to happen:
Someone will go through the list of keybindings in profanity and through the list of default keybindings from readline (mentioned in https://github.com/profanity-im/profanity/issues/1580#issuecomment-881247688) and will propose the changes here with explanation why they make sense. If noone can do it, then it will stay like it is.

[2021-08-16 12:18] jubalh commented on #1590
See https://salsa.debian.org/xmpp-team/profanity/-/blob/debian/master/debian/rules#L41
There is no `/usr/bin/python` just `/usr/bin/python3` on recent Debian since the py2 -> 3 change afaik.

[2021-08-16 12:18] #1590 closed

[2021-08-20 13:26] jubalh commented on #1578
Is it possible that this is actually only working correctly since https://github.com/profanity-im/profanity/commit/6bc440c6f7e8c2c40d2d45f5c0decc15821abc8b ?

There is:
`/notify room mention word_whole` and `/notify room mention word_part`. What is your setting @kaffeekanne ? Probably `word_part`? If yes, it looks to me like it's works as expected?
I actually never looked at these settings before.

[2021-08-20 13:57] #1538 closed

[2021-08-20 13:59] jubalh commented on #1538
@g4570n @ffuentese I just merged @paulfariello PR. You can give git master a try if you still suffer from this.
A couple of more issues and we will release 0.11.1 which will contain the fix.

[2021-08-20 14:02] jubalh commented on #1580
We only need to change alt+f all the rest is okay? Did someone check?
We could use alt+v instead of alt+f.
Reasons:
* v is close enough on keyboard to the f
* f and v sound similar so we could still say "vlag" ;)
* v seems free?

[2021-08-23 00:25] VitoVan commented on #1478
@jubalh Hey Michael, I am not keeping an eye on this server, so if anything went/goes wrong, please let me know and I will fix it as soon as possible.

Thanks for your work, Michael.

[2021-08-23 05:43] jubalh commented on #660
We have most of this figured out already. But look over: https://github.com/modernxmpp/modernxmpp/commit/cd3e871e55c2cff45dffd05d6e50380b99845849 again when implementing the rest of MAM.

[2021-08-24 03:39] Hund opened #1592 "[Feature request] Support for multiple accounts"
It would be really neat with support for multiple accounts. Using two instances of the client is not fun at all.

Me personally is a long time use of XMPP and I have two accounts; one for "Hund" and one for the real me. It's where I have my family and friends. I don't consider merging the accounts to be an option, it just wouldn't feel right to be talking to my mom as "Hund". :)

Anyway. Thank you

[2021-08-24 06:25] jubalh commented on #1592
1) When you created this issue there was a template that was asking you to not create new feature requests until we re down to 50 issues.
2) https://profanity-im.github.io/faq.html#multiacc
3) https://profanity-im.github.io/blog/post/how-to-run-profanity-instances-within-tmux/

I would recomment to use tmux and run profanity with `profanity -a account1 -t theme1` and `profanity -a account2 -t them

[2021-08-24 06:25] #1592 closed

[2021-08-24 07:10] Hund commented on #1592
I know. It showed me 2 open issues though. I guess I didn't clear the search filter before looking.

It's really not a solution, it's more of an ugly workaround. I appreciate the suggestion though.

You closing the issue means that it's not something that we'll ever see in Profanity?

[2021-08-24 08:39] Hund commented on #183
WeeChat is able to use aspell and it works really good with multiple languages enabled at the same time.

[2021-08-24 08:57] jubalh commented on #1592
Not in the near future.
The design of Profanity was always to be one-account only. This is the case since before I started the project. It would be a lot of work to change this. I can see some benefit in doing it at some point. The whole user interface would need a change since each command would need an `-a account` flag so you know for which account you configure something. That's quite ugly in

[2021-08-24 17:03] Hund commented on #1592
I see. Thank you for you comment! :)

[2021-08-30 22:17] cockroach commented on #1580
v sounds like a good alternative to me

[2021-08-31 03:21] 4drift commented on #1580
Some alt bindings are not implemented: alt+c, alt+l, and alt+t it seems. I'm not sure where I got this list now, but these were once given as a reference for the main bindings to me.

Alt + BackSpace to delete to a separator/delimitor!
Ctrl + a – go to the start of the command line
Ctrl + e – go to the end of the command line
Ctrl + k – delete from cursor to the end of the command line
Ctrl + u –

[2021-08-31 19:32] pmaziere opened #1594 "Do not check for OMEMO device id for JIDs banned of a MUC"
I recently had an issue with my prosody server that kept trace of a banned user among the participant of a private MUC.
This resulted in profanity spitting "Can't find a OMEMO device id for <banned_JID>." each time I was sending a message in the MUC.  Removing the banned JID in the relevant MUC related file on the server side and restarting profanity prevented this annoying error message to come b

[2021-08-31 20:33] jubalh commented on #1580
Switched alt-f to alt-v. Hope everybody is happy now :)
0.11.1 will have this.

[2021-08-31 20:40] jubalh commented on #1578
@kaffeekanne ping

I still think that the behaviour only works properly now. If you agree then I guess it makes sense to that we will set `/notify room mention word_whole` as default. I think that makes most sense.

[2021-08-31 20:50] jubalh commented on #1478
Last time I tried I didn't get very far.
I was hoping one of the OMEMO guys can help me.

But I will try to find some time soon to give it another go! Sorry for the long delay!

[2021-09-02 21:41] daeluk opened #1595 "OMEMO - Sending messages to myself, 'OMEMO not supported'"
## Expected Behavior

Sending OMEMO encrypted messages to my own JID should only contain messages sent from any of my devices.

## Current Behavior

Currently, when sending messages to my own JID I get spurious "your Client doesn't support OMEMO" messages,
in addition to the original, encrypted (`~`)  message. This happens both with sent and received messages.
This doesn't happen in any other clie

[2021-09-03 08:34] huhndev commented on #1589
I can reproduce the bug. However, for me only the messages sent by me disappear.

### Environment
Operating System/Distribution: OpenBSD 6.9

`profanity -v`
Profanity, version 0.11.0dev.master.c89e3126
Copyright (C) 2012 - 2019 James Booth <boothj5web@gmail.com>.
Copyright (C) 2019 - 2021 Michael Vetter <jubalh@iodoru.org>.
License GPLv3+: GNU GPL version 3 or later <https://www.gnu.org/licenses/g

[2021-09-03 09:26] jubalh commented on #1589
Note: Most likely I changed something when I was starting to implement MAM, and didn't think about it correctly before finishing MAM.

[2021-09-03 10:18] jubalh commented on #1595
Can you please check your device key and see if it is indeed in the list of trusted keys? I mean: it could be that profanity lists a couple of keys but actually the key from the other client is not listed there because it couldn't find it.

[2021-09-04 23:06] daeluk commented on #1595
All the keys listed match the ones on my other clients. :/

[2021-09-05 09:34] jubalh commented on #1595
That is very weird.
Also I can't reproduce that.
@DebXWoody @paulfariello any ideas?

[2021-09-05 10:33] daeluk commented on #1595
I was also trusting this profanity session's key, and thought maybe that was causing it, but untrusting my own key doesn't help.

[2021-09-05 10:44] daeluk commented on #1595
Also happens on my alpine raspberry pi running:
[code]

[2021-09-05 13:39] paulfariello commented on #1595
Isn’t it a mam issue or something like that?

One device cannot encrypt messages for itself (known protocol limitation).

My guess: the first one is simply the one being sent (thus we have the cleartext). The second message is received from the server thus we don’t have the cleartext and we can’t decrypt it.

[2021-09-05 13:44] jubalh commented on #1595
@daeluk what does `/mam` say?

[2021-09-06 12:44] paulfariello commented on #1595
@daeluk could you also confirm with `/xmlconsole` that you receive the message you have sent?

Rethinking about the issue, I'm not sure it's MAM related. Maybe it's an issue with message ID that is not preserved by the server.
@daeluk which server are you using?

[2021-09-06 12:56] jubalh commented on #1595
MAM is in experimental state. So if we get a new message we display that message. If it was already encrypted and can't be encrypted again this is supposed to happen.
We don't compare it yet with what we have in the database. Later we want to compare the id and actually display MAM from what we have already in the DB and only fill the whole in the DB from MAM.

mwuttke wanted to rewrite the UI cod

[2021-09-08 10:09] jubalh commented on #1578
Since no feedback I assumed my ideas were right and set `word_whole` as the default now.

[2021-09-08 10:09] #1578 closed

[2021-09-08 10:20] jubalh commented on #1478
I just tried this on latest master (https://github.com/profanity-im/profanity/commit/0a8d69dc46a7b44490b89e16657d4d13de41b77c) with the test accounts provided by @VitoVan

[code]

File was correctly opened.

[code]

File was correctly saved.
Don't see any problems.
@huhndev @VitoVan : do I do something different than you? How can I reproduce the issue? Does it maybe work for you now too?

[2021-09-08 11:03] huhndev commented on #1478
Case opening encrypted test.txt `/url open ...`:
`Abort trap (core dumped)`

Case saving encrypted test.txt `/url save ...`
Works!

Case saving encrypted test.jpg `/url save ...`:
Doesn't work. The image cannot be opened.

Case sending encrypted test.txt `/sendfile ./test.txt`:
Doesn't work.
ejabberd: `xxx [info] <xxx>@mod_http_upload:create_slot:832 Got HTTP upload slot for xxx/profanity (file: t

[2021-09-08 11:19] jubalh commented on #1478
I tried with a 4.2MG PNG file and it still works. Both save and open.

How big is your file?

[2021-09-08 11:24] jubalh commented on #1478
Can you set `ejabberdctl set-loglevel debug` so that ejabberd explains the reason for the 404 for us?

[2021-09-08 11:43] huhndev commented on #1478
test.txt: 18B

test.jpg: 116K

ejabberd: `xxx [debug] <xxx>@mod_http_upload:process:550 Cannot store file /var/spool/ejabberd/upload/xxx/test.txt from hidden_by_ejabberd for xxx: connection closed`

[2021-09-08 12:38] licaon-kter commented on #1478
@huhndev it should not matter, for the server, if the file in encrypted or not

`sudo -u ejabberd stat /var/spool/ejabberd/upload/xxx/` says what? (`ejabberd` is the user the xmpp server uses(

[2021-09-08 12:51] huhndev commented on #1478
`doas -u ejabberd stat /var/spool/ejabberd/upload/xxx/test.txt` prints:
`stat: No such file or directory`

`doas -u ejabberd stat /var/spool/ejabberd/upload/xxx/` prints:
`86 2167589 drwxr-xr-x 2 ejabberd ejabberd 4337954 512 "Sep  8 13:40:07 2021" "Sep  8 13:40:37 2021" "Sep  8 13:40:37 2021" "Sep  8 13:40:07 2021" 32768 8 0 /var/spool/ejabberd/upload/xxx/`

[2021-09-08 13:49] confidentidiot commented on #1478
I came across this issue as I too am having difficulty sending image files from Profanity when Omemo encryption is enabled.

The user `profanityuser@profanity.net` has an account on a self-hosted XMPP server running Prosody trunk nightly build 1503 (2021-09-04, 1cac469b18d0) running on Ubuntu 20.04.3 LTS.  `profanityuser@profanity.net` is logged into Profanity Version 0.11.0 running on FreeBSD 13.

[2021-09-08 21:21] daeluk commented on #1595
Hi sorry for the late response.
I definitely enabled mam recently, but I've been experiencing this issue since the very first time I used profanity and hadn't enabled `mam` yet. That was on v0.10 which AFAIK didn't yet support `mam`.

`/xmlconsole` does report sending and receiving a message, followed by sending and receiving the `client doesn't support OMEMO` message.

I am using `prosody-0.11.9`

[2021-09-09 07:05] jubalh commented on #1595
I assume this is a typo and 0.11.0 is what you mean :)

Then it is not MAM.
@paulfariello is this also fixed by https://github.com/profanity-im/profanity/pull/1591 ?

[2021-09-09 07:37] jubalh commented on #1595
@daeluk do you know how to compile profanity yourself? It would be helpful if you could try latest master and see if it works there.
We plan to release 0.11.1 soon (only one bug left). And if this is fixed in master it would be nice.

[2021-09-09 09:28] paulfariello commented on #1595
I don't see why #1591 would impact this issue, but trying with latest master is never a bad idea.

[2021-09-09 09:38] jubalh commented on #1595
how can it happen that there is no key?

[2021-09-11 17:39] daeluk commented on #1595
Nope 0.11.9 is what I meant. That was about the xmpp server `prosody` not `profanity` :D

Still same situation on latest master `0.11.0dev.master.1dbe1a33`.

[2021-09-11 17:49] DebXWoody commented on #1595
On Sa, 11.09.2021 10:39:18, Jakob Rotchteine wrote:

Can you join the profanity Chat and send me a PM?

[2021-09-12 08:20] DebXWoody commented on #1595
Maybe an issue with disco info request. I will drop a mail on the
mailinlist with more information about "disco and OMEMO".

The reason of missing disco info may a problem with TLS - not sure.
Let's see if a renewal+adding subdomain will solve this issue.

--
Stefan

[2021-09-13 07:26] paulfariello commented on #1595
Because protocol doesn't negociate keys with itself.

[2021-09-13 08:37] jubalh commented on #1595
Copy of the message so that we have all in one place:
[code]

Attached patch:
[code]

[2021-09-13 08:37] jubalh commented on #1595
@daeluk if you apply that patch. Does the problem go away for you? Tell us if you need help with applying the patch.

[2021-09-15 02:55] VitoVan commented on #1478
The test server for this issue is back online.

It was powered off accidentally 17 hours ago, and now it's back.

[2021-09-15 03:12] VitoVan commented on #1478
`ejabberdctl set-loglevel debug` was set on the test server.

Log files of ejabberd is served at http://the-ip-address-of-the-test-server:8000/

![image](https://user-images.githubusercontent.com/1756956/133364386-81282387-d3b1-42d5-8974-21176df52169.png)

Let me know if there's anything else I can help.

[2021-09-15 21:11] jubalh commented on #660
Along with this thread: https://mail.jabber.org/pipermail/standards/2021-August/038483.html

[2021-09-27 09:41] jubalh commented on #1478
Can all the people that are affected by this bug please post which version of libgrcrypt their system is using?

[2021-09-27 09:46] jubalh commented on #1478
Changelog for 1.9.4: https://dev.gnupg.org/T5402 mentions: `Add GCM and CCM to OID mapping table for AES. [rLa83fb13a3b]` (maybe also other things that are relevant.

https://openports.se/security/libgcrypt sais this got added to ports roughly one month ago: `(2021-08-23) Updated to version: libgcrypt-1.9.4`.

[2021-09-27 09:56] huhndev commented on #1478
`libgcrypt-1.9.4`

Since then also rebuilt and tested. The bugs unfortunately still exist.

[2021-09-27 14:19] mdosch opened #1596 "Feature request: correct in editor"
`/editor` lets me write multiline messages in an editor but when I want to correct them via `/correct` I can only use the input area.
It would be nice to be able to edit a message in the editor with another command e.g. `/correct-editor`.

[2021-09-28 18:08] jubalh commented on #1478
I have to push this to 0.12.0. I didn't yet find the cause for this, also asked several people for help. Seems this is a nasty bug that is hard to find :)

I intended to delay 0.11.1 for this bug but now think I should get those other fixes out and push this to 0.12.0.

[2021-09-28 19:45] jubalh commented on #1594
@paulfariello does this make sense?

[2021-09-29 13:47] jubalh opened #1597 "Wrong format string in titlebar encryption"
When packaging 0.11.1 debacle found:

[code]

Which should also be true for line 454 where we do the same with `chatwin->enctext` which is also `char*`.

This code was added in https://github.com/profanity-im/profanity/commit/1b25aa84cb17fd52d1983701553de27e38ebf3eb and https://github.com/profanity-im/profanity/commit/9cfd17821c427ae2c129842b5f626fbdb3a73a67 and is present since 0.6.0.rc1.

[2021-09-29 13:48] #1597 closed

[2021-09-29 17:30] jubalh commented on #945
https://github.com/profanity-im/profanity/pull/1598 got merged.

[2021-09-29 17:30] #945 closed

[2021-09-29 18:16] jubalh commented on #1597
more from debacle
[code]

[2021-09-29 21:01] jubalh commented on #1597
And another round:
[code]

[2021-10-01 10:46] MarcoPolo-PasTonMolo opened #1599 "Feature request: /quote command with autocomplete"
Have a /quote command with autocomplete that allows you to quote a message and respond to it.
Copy and pasting isn't that ergonomic especially if the message wraps and you end up copying names of occupants.

This command should probably open the editor because you would probably enter a newline after the quoted text to reply

[2021-10-01 11:20] jubalh commented on #1599
This is something that we often have thought about ourselves.
The problem is that we want to rewrite the UI first.

There needs to be a way to identify which messages to quote. So we need to change the UI to add some indicator like (1,2,3) in front of the lines or something similar. I didn't really come up with an idea how to identify which message to reply to.

Anyways it seems you didn't read th

[2021-10-01 11:20] #1599 closed

[2021-10-02 17:33] MarcoPolo-PasTonMolo commented on #1423
I want to try to solve this, where should I look?

[2021-10-03 06:37] DebXWoody commented on #1423
On Sa, 02.10.2021 10:33:15, MarcoPolo-PasTonMolo wrote:

I'm not sure, but I would start to look into

static void
_handle_chat(xmpp_stanza_t* const stanza, gboolean is_mam, gboolean is_carbon, const char* result_id, GDateTime* timestamp)

and

static gboolean
_handle_mam(xmpp_stanza_t* const stanza)

file: src/xmpp/message.c

[2021-10-03 13:55] MarcoPolo-PasTonMolo commented on #1423
I found that I can fix this by instead of picking the oldest delay in stanza_get_oldest_delay, to pick the newest one. The delay from xep0091 seems to be wrong sometimes. This however might reintroduce #1254.

[2021-10-04 17:44] jubalh commented on #1423
Hey @MarcoPolo-PasTonMolo ! It's great that you took a look at the existing issues and right away started to try to solve one! Thanks a lot for that <3 !

I'm not entirely sure yet, will try to take a look soon: but are you sure that we need to use a different delay stanza?
From Martins description above it looks like we use a different time format. So it might be that we just need to transform th

[2021-10-04 19:53] MarcoPolo-PasTonMolo commented on #1423
I am not entirely sure myself either. What I noticed is that when I used the xep0091 delay in some chats the timestamp would be wrong and that the code for getting both delays was identical with the exception that we are getting information from different attributes/elements(I don't know the correct name).
The procedure to get both delay was to get time_value_from_iso8601 then get date_time_new_fr

[2021-10-04 20:01] MarcoPolo-PasTonMolo commented on #1423
Ok never mind just found out the real issue, I'll have the pull request updated in a bit

[2021-10-05 07:59] #1423 closed

[2021-10-05 10:06] mdosch commented on #1423
After a first test it seems to consider my local timezone now. Thanks. :)

[2021-10-06 13:36] jubalh commented on #677
I didn't test this (since I don't have 1000 friends that use XMPP :((( ) but I doubt glib lists have a limit. And I don't see what else should limit this.

[2021-10-06 13:36] #677 closed

[2021-10-09 20:03] marhu98 opened #1602 "Announcing public key is undocumented"
Is there a way to announce the public key so that people can send you pgp encrypted messages? Currently if there are, it appears to be undocumented.

[2021-10-09 20:08] jubalh commented on #1602
You need to get their public key from a keyserver. Like with EMail too.

[2021-10-09 20:23] marhu98 commented on #1602
But, what is the command? It doesn't say...

[2021-10-09 20:30] jubalh commented on #1602
It's not a command in Profanity.
Maybe:
* https://www.gnupg.org/gph/en/manual/x56.html
* https://www.gnupg.org/gph/en/manual/x457.html

can help you to learn how to use GPG  in general.

[2021-10-09 20:35] marhu98 commented on #1602
Aaah it needs to be in the local key ring. In my case the key was in the keyring but I guess the uid has to match as well?

[2021-10-09 20:57] #1602 closed

[2021-10-11 06:53] jubalh commented on #1556
https://lists.notraces.net/pipermail/profanity/2021/000047.html :

[code]

[2021-10-12 15:52] jubalh commented on #1602
About  XEP-0027: Current Jabber OpenPGP Usage

[2021-10-13 16:39] Hund commented on #1521
How do I bind the editor to a key so I can spawn the editor using a keybinding?

[2021-10-13 17:32] jubalh commented on #1521
Most likely by reading the documentation https://profanity-im.github.io/guide/latest/keybindings.html

[2021-10-13 19:19] #199 closed, assigned to nobody

[2021-10-13 19:22] jubalh commented on #199
`/register` command has been added by @binex-dsk.

[2021-10-14 04:58] Hund commented on #1521
I'm pretty sure it's me, I'm getting old and grumpy. :)

Think before doing something? You have high hopes about me for sure. I don't always how lengthy a message might be before it's too late.

Jumping to the beginning of the line and adding the `/editor` before the message text would be an okay compromise, but I would prefer to be able to use a keybinding, which I'm used to do with my web browse

[2021-10-14 05:01] Hund commented on #1521
That sounds awfully helpful. I'm not the one to say no to any help. :)

[2021-10-14 07:27] jubalh commented on #1521
Maybe this can be done as a second step.

Great! So you will need to check out `src/command/cmd_defs.c` and grep for `cmd_editor(` this is where the defintion is stored. You will need to take a look at the line starting with `parse_args` where we tell it how many arguments it allows. Look at another command to see what you need to use there. Also at the bottom there is `CMD_NOARGS` which you will

[2021-10-17 08:55] beaglesnuf opened #1606 "Persistent /silence on?"
Where is this pref saved? profrc nor the accounts files appear to be modified when this pref is enabled. How to enable persistently?

$ profanity -v
Profanity, version 0.11.1
Copyright (C) 2012 - 2019 James Booth <boothj5web@gmail.com>.
Copyright (C) 2019 - 2021 Michael Vetter <jubalh@iodoru.org>.
License GPLv3+: GNU GPL version 3 or later <https://www.gnu.org/licenses/gpl.html>

This is free soft

[2021-10-17 08:57] mdosch commented on #1606
Am 17. Oktober 2021 08:55:29 UTC schrieb beaglesnuf ***@***.***>:

Did you try `/save`?

[2021-10-17 09:12] jubalh commented on #1606
It is saved in profrc.

[2021-10-17 09:12] #1606 closed

[2021-10-27 20:08] nandesu-utils opened #1609 "After profanity restart, a message sent to some recipient is not encrypted for another sender device"
## Expected Behavior

After profanity restart, a message sent to some recipient must also be encrypted and be sent to another sender device.
## Current Behavior

They are not encrypted.

That is, once a chat with someone is opened, any message sent within profanity to that participant will not be encrypted for another *sender* device, i.e. mobile phone.

[code]

Though messages from other clients

[2021-11-01 03:14] nlfx commented on #1478
An Halloween 1 byte patch in #1611 for this spooky bug :ghost:
Thanks a lot to everyone contributing to this great XMPP client!

[2021-11-01 03:47] VitoVan commented on #1478
I concur with this solution: #1611 , it works.

[2021-11-01 11:11] #1478 closed

[2021-11-01 11:30] jubalh commented on #1597
This was actually because of ncurses 6.3 bump.

[2021-11-02 06:06] carlocab opened #1612 "`configure.ac` hardcodes a non-portable `/usr/local/opt/readline`"
## Expected Behavior

`profanity` should build even when Homebrew is not installed into `/usr/local` and/or `libreadline` cannot be found at `/usr/local/opt/readline`.

## Current Behavior

The `configure` script checks for `libreadline` only at `/usr/local/opt/readline`, so the script fails whenever `libreadline` is not installed into this location.

This is the case, for example, when:
1. Homebr

[2021-11-02 06:50] jubalh commented on #1612
Can you open a PR with a portable solution?

[2021-11-02 07:08] carlocab commented on #1612
I'm currently swamped over at Homebrew (a new macOS version just dropped), but if you ping me in two weeks or so I'd be happy to take a look.

[2021-11-02 11:36] jubalh commented on #1612
Sounds good.
Thanks for taking care of Profanity in homebrew.

BTW there is a new libstrophe version (0.11.0) out in case you guys didn't update that already.

[2021-11-02 21:56] Seirdy commented on #1291
For others who stumbled upon this issue looking for an OMEMO 7.0+ client:

Kaidan is planning on [supporting OMEMO v0.7+ only](https://invent.kde.org/network/kaidan/-/issues/254#note_304809) and so is UWPX. There's also a branch of Dino with experimental support.

[2021-11-08 08:49] dimethyltriptamine opened #1613 "Profanity closes automatically when restarting Xorg and reattatching to tmux"
If you run profanity in a tmux instance, restart xorg and then reattatch to the instance, profanity will be killed.

## Expected Behavior

profanity should still be running
## Current Behavior

the process is killed
## Possible Solution

## Steps to Reproduce (for bugs)

1. Create a tmux instance
2. Run profanity on it
3. Restart xorg `(doas sv down lxdm && doas sv up lxdm)` in my case
4. run `tmu

[2021-11-08 08:57] jubalh commented on #1613
Duplicate of https://github.com/profanity-im/profanity/issues/1420

It includes a workaround and idea why this is happening.

[2021-11-08 08:57] #1613 closed

[2021-11-08 19:47] updavi opened #1614 "Can't get OTR to work"
After upgrading Profanity as part of the upgrade from OpenBSD 6.9 tp 7.0, OTR chat has stopped working. It's no longer possible to start an encrypted session, either manually with `/otr start` or automatically with `/otr policy always`.

Reviewing the `profanity.log` file, I see the following error when I try to start an OTR session:
[code]
This happens with contacts who I previously chatted over

[2021-11-08 20:49] jubalh commented on #1614
I doubt there changed anything regarding the release.

OTR is just brittle and it's hard for people to use, which is why so many clients removed OTR support.

I still like and use OTR. It works well for me.

I'm not entirely sure what breaks OTR. But basically it's designed for a one client to one client world. Multiclient support was not intended.

So please test what happens if you are online wi

[2021-11-08 20:49] jubalh commented on #1614
BTW https://github.com/profanity-im/profanity/releases/tag/0.11.1 is the latest release.

[2021-11-08 22:52] updavi commented on #1614
I'm using OpenBSD 7, which packages 0.11.0

My conversation partners are all using one client only, and I am also only using one client.

I can't downgrade to 0.10.0 because that is not available on my system.

`/resource` shows that all display options are turned on, but I don't see anything to give me more information.

[2021-11-09 07:17] jubalh commented on #1614
They should update. It's a point release.

If you can build from source you could try it.

[2021-11-12 07:04] lynix commented on #1589
I'm also experiencing this issue. Old messages are loaded from the database when opening a new chat window but new ones only get saved to the `chatlogs/` directory.

    Profanity, version 0.11.1
    Copyright (C) 2012 - 2019 James Booth <boothj5web@gmail.com>.
    Copyright (C) 2019 - 2021 Michael Vetter <jubalh@iodoru.org>.
    License GPLv3+: GNU GPL version 3 or later <https://www.gnu.org/lice

[2021-11-13 09:24] jubalh commented on #1589
I think this might be yet another issue.

https://github.com/profanity-im/profanity/blob/master/src/database.c#L118 we have `NOT NULL` there. Maybe one of them is NULL? Could you debug and check?

[2021-11-14 07:22] mdosch opened #1615 "OMEMO encryption failures"
Profanity seems to often forget OMEMO fingerprints. Sometimes it just doesn't find OMEMO keys to encrypt to, even if messages were sent successfully just minutes ago.
In 1-1 I get a warning and can do the `/omemo end` + `/omemo start` cycle and send it again. In MUCs I get a warning about missing fingerprints but the message is sent anyway. So sometimes the particular MUC participant already compl

[2021-11-22 17:14] jubalh commented on #1612
@carlocab ping

[2021-11-23 13:26] carlocab commented on #1612
Thanks for the reminder. Having a look.

[2021-11-23 14:15] carlocab commented on #1612
#1617

[2021-11-23 23:36] #1612 closed

[2021-11-23 23:36] jubalh commented on #1612
Thanks for your contribution @carlocab !

[2021-11-24 15:21] pukkamustard commented on #1614
I am experiencing the same issue (OTR fails to start).

I'm running prosody 0.11.1 on a Linux system (Guix):

[code]

I get the same messages in the logs as mentioned above (`WRN: Invalid carbon received, from: _____`). I've tried this with same version of profanity on both sides.

Maybe something did change from 0.10.0 to 0.11.0?

[2021-11-24 15:48] pukkamustard commented on #1614
I downgraded to 0.10.0 and still am experiencing this issue. So not something specific to 0.11.x maybe...

[2021-11-24 20:15] jubalh commented on #1614
Tha'ts what I thought ;)

[2021-11-24 21:06] pukkamustard commented on #1614
I managed to get OTR working with a local development server and two profanity instances connected (with version 0.11.1). So really does not seem to be something in general wrong with OTR in 0.11.1. I think it has something to do with Message Carbons.

I tested following on my main server (the one where OTR is currently not working):

1. User A starts an OTR session to user B with `/otr start`
2.

[2021-11-25 13:50] jubalh commented on #1614
Can you guys please test https://github.com/profanity-im/profanity/pull/1618 ?

[2021-11-25 17:51] #1614 closed

[2021-11-30 14:32] jubalh commented on #1609
@nandesu-utils thanks for looking into this and providing the PR!

[2021-11-30 14:32] #1609 closed

[2021-12-07 19:01] sometato opened #1621 "Which PEPs are required for OMEMO?"
I'm using Prosody 0.11.0 with Profanity 0.11.1. I'm able to see fingerprints of accounts on a different server, but they can't see mine. https://compliance.conversations.im seems to say that my server supports OMEMO, but it seems like something is missing.

In fact, even on the same server with two different accounts, I can't see fingerprints across accounts.

Would appreciate a list of PEPs or an

[2021-12-07 19:37] sometato commented on #1621
Should this log if the connection doesn't show that's supported?

https://github.com/profanity-im/profanity/blob/f21595597f4fa872b77d7f76ae04916f4aae732e/src/xmpp/omemo.c#L73

[2021-12-07 20:57] jubalh commented on #1621
Please take a look at the release notes of 0.11.1 which is the latest version:
https://github.com/profanity-im/profanity/releases/tag/0.11.1

It mentions: `Fix OMEMO devicelist access model by reconfiguring it (#1538) (#1591)`

[2021-12-07 22:24] sometato commented on #1621
I'm using Profanity 0.11.1. Profanity is working fine for me on a different server, just not sure what support is missing on mine. Unfortunately, Profanity isn't showing any error messages which would be helpful.

[2021-12-08 10:16] mdosch commented on #1336
There is also support in the CLI tool clix: https://code.zash.se/clix/rev/6c1953fbe0fa

[2021-12-08 10:57] jubalh commented on #1621
That's a very weird sentence which I don't understand at all. "Different server"? Different from what?

What?

Just normal PUBSUB is needed.

I see. I was misreading your first message "I'm using Prosody 0.11.0 with Profanity 0.11.1." which brings me to the question: why did you remove the issue template? There I know where to look for the information on the right places. I don't need much attenti

[2021-12-16 01:39] sometato commented on #1621
I'm sorry, I should've used the template. I didn't mean to be unclear or rude.

Thank you for your commit with the log message. I think that will be helpful!

[2021-12-28 21:36] JurajMlich commented on #1589
Hi @jubalh,

I've looked into the problem and have identified what's causing this issue.

In `src/database.c`, the function `_add_to_db` contains

[code]

The thing is that OMEMO encrypted messages for some reason do not have stanzaid set (I didn't investigate why that's the case), so the default value "" (empty string) is used. The commit which introduced the subselect for the NOT EXISTS clause s

[2021-12-29 13:58] jubalh commented on #1589
@JurajMlich good job! Thanks a lot for looking into this!

Right now I also don't know the details of the code anymore.

Yes, please do that :)

[2021-12-29 14:07] jubalh commented on #1551
Any news?

[2021-12-29 20:07] elimin-8 opened #1624 "/sendfile does not work with self signed cert"
When using /sendfile to upload a file to an xmpp server using tls with a self signed certificate, the operation fails, stating "SSL peer certificate or SSH remote key was not OK". This fails even if the account is set to trust the server tls cert with tls trust in the account settings.
As a sidenote, if the http upload module on the xmpp server is changed to use http for the upload, it is successf

[2021-12-29 20:16] elimin-8 commented on #1624
Seems I've found the culprit. Looks like it's curl that's throwing the error, so perhaps it'd be a good idea to run curl without verifying the peer when uploading and downloading files if the tls option for the account is set to trust?
[More info](https://stackoverflow.com/questions/14192837/ssl-peer-certificate-or-ssh-remote-key-was-not-ok)

[2021-12-29 20:19] JurajMlich commented on #1589
@jubalh will do, either tomorrow or the day after

[2022-01-01 08:54] #1589 closed

[2022-01-03 17:05] rodarima commented on #1246
Hi, sorry for the long delay. This problem only is quite noticeable in a machine that I only use a few days a year.

It seems to be caused by the `select()` that [libstrophe is doing](https://github.com/strophe/libstrophe/blob/master/src/event.c#L225). This is the strace when pressing one arrow key which sends the bytes `^[OD`. The trace shows what happens between the bytes O and D:

[code]

This

[2022-01-03 17:23] jubalh commented on #1246
@rodarima thanks for looking into this!

There is also https://github.com/profanity-im/profanity/issues/225. Maybe take a look.
And I think mcabber is using GMainLoop, but I think rewriting would be a lot of work.

[2022-01-04 23:04] mjk-gh opened #1626 "Breaks RFC 6120 11.6 by sending non-UTF8 encoded characters"
## Current Behavior
I have a non-UTF8 locale on all my systems (ISO-8859-15 aka Latin9),
and recently tried Profanity 0.11.1. Among other messages, I used
umlauts in some of my messages, and it seems that they got sent by
Profanity as Latin9-encoded umlauts, i.e. 1 byte (in my example, it
was the letter o-umlaut ("ö"), which is 0xFE in Latin9.

Quote from RFC 6120:
<blockquote>
11.6.  Character En

[2022-01-04 23:55] rodarima commented on #1246
Hi, again

I think I would like to expand a bit my answer. There are a two problems I discovered while trying to find why pressing the arrows takes too long (or pasting a lot of text) and also why this issue is not immediately obvious to debug.

In order to find what is happening I first used `sudo perf record -g -p $(pgrep profanity)` (same as 2 years ago), which interrupts the program at mostly

[2022-01-05 00:09] mar-v-in commented on #1626
Note: When sending messages without OMEMO, the server will just close the stream, but with OMEMO, servers can't detect the invalid encoding and thus the error only shows up at the recipient after decrypting the message.

[2022-01-05 10:41] jubalh commented on #1246
Thanks a lot for this detailed report!

It doesn't :-)

Looking forward to it! :-)

[2022-01-05 10:43] jubalh commented on #1626
Thanks for this report.

Just for the record, we also have:
* https://github.com/profanity-im/profanity/issues/672
* https://github.com/profanity-im/profanity/issues/248

[2022-01-05 17:17] sometato opened #1627 "/xmlsave feature"
Hi!

I'm trying to debug some OMEMO issues that I'm having with Prosody. /xmlconsole is really helpful, but can be tedious to search.

It'd be really nice to be able to do `/xmlsave <path/to/file>` or something like `/save` inside the XML console. It seems like a `/save` could apply to normal chat windows as well, though those already have native logging.

## Expected Behavior

 * `/xmlconsole`
 *

[2022-01-08 19:24] rodarima commented on #1246
Hi,

Ups, sorry I mixed things up when reading the source of libstrophe and loudmouth, the XMPP library of mcabber (which it does). Then it would be nice if I can avoid adding a new dependency :)

I've come up with what it lloks like a plan which I can test in small increments.

- First I would introduce the main loop to replace the while in `prof_run()` with the GMainLoop, which only runs the bod

[2022-01-09 16:29] jubalh commented on #1246
I like the first two points.

About libstrophe it would maybe good to get an opinion from @pasis and @sjaeckel.

[2022-01-09 21:20] rodarima opened #1628 "Implement see-other-host during login"
When connecting to sure.im, about 3/4 times results in "Login Failed". Here is the log:
[code]

As per the RFC, it should reconnect to the given server:

https://xmpp.org/rfcs/rfc6120.html#streams-error-conditions-see-other-host

[2022-01-09 21:49] rodarima commented on #1246
I got the two first [points working](https://github.com/rodarima/profanity/tree/gmainloop), but adding polling support in libstrophe may be a bit tricky, as they also have timeouts in their own main loop.

Adding a callback for each connection is not really needed as profanity handles all xmpp connections (only two, connect and register aparently) so we already have a pointer to each xmpp_conn and

[2022-01-10 08:52] jubalh commented on #1246
You could create a (draft) pull request for this already. Easier for people to check what's worked on then :)

[2022-01-20 03:32] ppibburr opened #1630 "presence stanza segfaults when `to` jid does not contain a resource"
presence stanzas with `to` jid without resource  will cause segfault

`to="someone@some.where"` bad
`to="someone@some.where/resource"` good

[2022-01-20 07:53] jubalh commented on #1630
@ppibburr Do you have a backtrace?

[2022-01-26 17:43] devhell commented on #1615
This happens to me too.

[2022-01-27 10:54] #1630 closed

[2022-01-27 11:12] jubalh commented on #1627
Workaround for now:
If you start profanity with `-l DEBUG` you will get the stanzas in `~/.local/share/profanity/logs/profanity.log` you can filter this using grep `xmpp: DBG`.

[2022-01-31 18:45] equation-group commented on #1315
@jubalh still occuring while talking to someone privately using omemo

[2022-02-01 15:51] #1628 closed

[2022-02-02 16:57] fantomfp opened #1634 "Python 3.11 error: 'PyFrameObject' {aka 'struct _frame'} has no member named 'f_code'"
profanity fails to build with Python 3.11.0a4.

[code]

The Python frame object is now created lazily. A side effect is that the f_back
member must not be accessed directly, since its value is now also computed
lazily. The PyFrame_GetBack() function must be called instead.

Code defining PyFrame_GetCode() on Python 3.8 and older:

https://docs.python.org/3.11/whatsnew/3.11.html

Python 3.11 is pla

[2022-02-02 17:18] jubalh commented on #1556
Someone in the MUC suggest that it has to do with: https://github.com/profanity-im/profanity/blob/e31e2877fc5a0d910cf803ca547847be9d0f5ac6/src/event/server_events.c#L272

We [filter](https://github.com/profanity-im/profanity/blob/e31e2877fc5a0d910cf803ca547847be9d0f5ac6/src/event/server_events.c#L287) out messages that we already received. So after reconnect MUC history is not displayed again.

St

[2022-02-02 17:56] fantomfp commented on #1634
The gcc command-line which produced this error was:
[code]

[2022-02-02 20:59] #1594 closed

[2022-02-02 21:00] jubalh commented on #1594
We go through all members in https://github.com/profanity-im/profanity/blob/master/src/omemo/omemo.c#L783
When a ban occured it seems we never removed the person from the members list.

[2022-02-05 16:38] equation-group opened #1636 "MUC screen flush after reconnect"
## Expected Behavior
It should not flush screen on auto disconnect and after reconnect

## Current Behavior
It flushes the screen i.e. empty chat in muc,  You have joined the room as (null), role: none, affiliation: none"
after reconnect

## Possible Solution
I don't know, there is some issue with last message time comparison

## Steps to Reproduce (for bugs)

1. join a muc
2. chat for some time,

[2022-02-05 16:40] mdosch commented on #1636
There's already an issue for this problem but I didn't find it now as mobile github sucks.

[2022-02-05 17:50] jubalh commented on #1636
duplicate of https://github.com/profanity-im/profanity/issues/1556

[2022-02-05 17:50] #1636 closed

[2022-02-06 12:20] equation-group commented on #1556
where are you checking, i mentioned the debug log in my issue, you could check.

[2022-02-12 15:44] mdosch opened #1638 "Support editor for editing subject"
Some chat rooms have a multiline subject and therefore editing those with `/subject edit <tab>` is cumbersome to nearly impossible.
I think using the editor functionly (like in `/editor` or `/correct-editor`) for editing the subject (e.g. with `/subject editor`) would be very nice.

## Environment
* Debian unstable

[code]

[2022-02-13 15:33] hbarel opened #1639 "libnotify causes timeout on console clients"
I (try to) use Profanity on a console-only server. Each time a notification arrives, either a new message, a "typing" notification, or even just a carbon-copy of a message sent by myself from another device, the application freezes for _libnotify_ to time-out.

The log reads:

`13/02/2022 17:12:01: prof: DBG: Message stanza handler fired`
`13/02/2022 17:12:01: prof: DBG: Attempting notification: x

[2022-02-13 18:03] jubalh commented on #1639
Sure there is, you need to compile profanity without notifications `--disable-notifications`.

If you don't want to compile yourself you need to contact your distribution. Distributions like openSUSE and Debian have a dedicated package for console only systems. Called `profanity-mini` or something like this.

[2022-02-13 18:03] #1639 closed

[2022-02-13 19:14] hbarel commented on #1639
Indeed, `profanity-light`. I was not aware of that. Thank you.

[2022-02-18 15:48] jubalh commented on #1551
Not sure what should be done here.
Feel free to reopen/comment in case there is still work to be done.

[2022-02-18 15:48] #1551 closed

[2022-02-18 15:50] jubalh commented on #1545
I think this is done in https://github.com/profanity-im/profanity/pull/1591.
Feel free to reopen/comment in case there is still work to be done.

[2022-02-18 15:50] #1545 closed

[2022-02-18 15:51] #1277 closed

[2022-02-18 17:13] jubalh commented on #851
In https://github.com/profanity-im/profanity/pull/1641 I tried to clean up the build files and make them work better for cross compilation.

The Python thing you mentioned isn't solved yet but I also have no idea how to do it.
I'll close this issue and wait for an PR or further details in case it's still relevant.

[2022-02-18 17:13] #851 closed

[2022-02-20 04:49] fantomfp commented on #1538
When I began to use profanity, OMEMO was not working. Before profanity, I used other clients, with OMEMO enabled and working, in a production use-case. This is my feedback.

When I launched profanity for the first time, I followed the step described [here](https://profanity-im.github.io/guide/0111/omemo.html "Profanity User Guide for OMEMO Encryption") to enable OMEMO.

[code]

After about 30 seco

[2022-02-20 07:14] paulfariello commented on #1538
Thanks for the detailed report. This is a permission issue, do you know what permission were set on axolotl (server side)? And which client first created the axolotl node?

[2022-02-20 07:37] fantomfp commented on #1538
I have no idea.

[2022-02-23 11:11] jubalh commented on #1556
@mdosch Can you comment out the `wins_reestablished_connection()` in `sv_ev_login_account_success()` and see what happens then for your?

[2022-02-23 15:15] jubalh commented on #365
@sjaeckel this depends on libstrophe, right?

[2022-02-23 15:26] jubalh commented on #1626
Isn't this the same as https://github.com/profanity-im/profanity/issues/1437

[2022-02-23 16:47] jubalh commented on #1291
So we support the "old" OMEMO for now.
Like @Seirdy only few clients support OMEMO 7.0+.
We will stay with the old way for now and later switch to the incompatible new way. Not supporting both most likely.

[2022-02-23 16:47] #1291 closed

[2022-02-23 20:14] Neustradamus commented on #1291
@jubalh: I think it is needed to keep this ticket opens before compatibility.

[2022-02-24 05:36] mdosch commented on #1556
Doesn't have an impact.
On 23.02.2022 03:11, Michael Vetter wrote:
***@***.*** Can you comment out the `wins_reestablished_connection()` in `sv_ev_login_account_success()` and see what happens then for your?

[2022-02-24 08:52] equation-group commented on #1556
@jubalh i can give you ssh access to my machine to test and debug

[2022-03-04 11:27] jubalh opened #1647 "Check issue about joining invalid MUCs"
Let me try to describe what I did:

# case 1
Acc1 is online with Profanity.
* /join test@myserver.org
* /room accept

Acc2 is online with Profanity.
* /join test@myserver.org
Acc1 is already here and we can chat.

# case 2
Acc1 is online with Profanity.
* /join test@myserver.org
* /room accept
* /nick /help (changes the nick to "/help" including "/")

Acc2 is online with Profanity.
* /join test@my

[2022-03-04 17:42] mwild1 commented on #1647
I'm able to join a MUC with the nick `/help` from poezio, and see myself in that MUC from other clients (yaxim).

I obviously can't guarantee Prosody is bug-free in this area, but I would be very surprised to learn of any issues. XML logs from both occupants would be helpful, and possibly debug logs from the server if the XML logs indicate there might be a problem on the Prosody side.

[2022-03-16 19:33] sjaeckel commented on #1422
This should be more or less straight-forward once https://github.com/strophe/libstrophe/pull/195 is merged.

[2022-03-20 14:00] MarcoPolo-PasTonMolo commented on #548
I have this problem, and backspacing does not work if you have Caps Lock on as well

[2022-03-20 22:30] MarcoPolo-PasTonMolo opened #1649 "Add autocompletion for quotes"
Autocomplete previous messages when `>` is typed at the beginning of the line

I already have implemented most of this. Just posting this to be sure that it is something that's accepted by the main devs.
## Expected Behavior
When I type `>` and then tab or shift tab previous messages should autocomplete

## Current Behavior
No previous message autocompetion

[2022-03-20 22:53] jubalh commented on #1649
So what would the workflow look like? I guess something like:

* type >
* tab until correct message is autocompleted
* press key to open editor
* enter for newline
* type reply

Or do you have another plan about the newline so that the formatting in other clients will be correct for the quote?

[2022-03-21 07:13] DebXWoody opened #1650 "Autocompletion for cmd - Execute ad hoc commands"
There is no auto completion support for the command `\cmd`.

- [ ] There should be at least autocompletion for parameters `list` and `exec`
- [ ] Nice would be to provide known JIDs

[2022-03-21 07:20] DebXWoody commented on #1627
It doesn't sounds like a _workaround_ to me. At the end of the day, it's what we need - the xml in a file. It would be nice if we can enable and disable the level of logging within the application itself. The user can switch the level without a restart of profanity.

Something like
``
\debug set level INFO
``

[2022-03-21 08:52] MarcoPolo-PasTonMolo commented on #1649
That's the workflow I had in mind

[2022-03-21 08:56] jubalh commented on #1649
Sounds good to me!

[2022-03-21 09:06] #1474 closed

[2022-03-21 09:36] #1650 closed

[2022-03-21 09:37] jubalh commented on #1647
@mdosch did you have time to play with this?

[2022-03-21 09:43] jubalh commented on #182
As @kaffeekanne mentioned we have an `/editor` command now.
And for 0.12.0 https://github.com/profanity-im/profanity/pull/1645 (and https://github.com/profanity-im/profanity/pull/1648) was added.
The workflow seems to be quite nice now. Even more powerful than just regular multi line.
Let's close this issue.

[2022-03-21 09:43] #182 closed

[2022-03-21 09:46] jubalh commented on #1627
I think you are right!

[2022-03-21 09:49] #1626 closed

[2022-03-21 09:55] sjaeckel commented on #766
I just tried to reproduce with current master and couldn't.

Please re-open if there are further questions/comments.

[2022-03-21 09:55] #766 closed

[2022-03-21 16:00] #1649 closed

[2022-03-21 16:25] jubalh commented on #1634
@fantomfp if you want to have this in 0.12.0 then now would be the time :) Otherwise I'll move this to 0.13.

[2022-03-23 12:02] #1624 closed

[2022-03-24 09:51] MarcoPolo-PasTonMolo opened #1654 "Url autocompletion does not reset"
When I use /url open or /url save and get a url via autocompletion, when I try to use the same command autocompletion continues from last opened url instead of newest url in window.

## Expected Behavior
On using /url open a second time autocompletion should start from newest url in window

## Current Behavior
On using /url open a second time autocompletion starts from previously opened url.

## P

[2022-03-24 11:18] moorchegue commented on #1556
Same thing here, version 0.11.1.

A couple of twists: sometimes window is empty, sometimes some really old messages are loaded (exactly the same every time it happens), and only the ones that were received, not the ones that were sent. All chatlog files look correct, so it must be a loading issue.

Similar thing happens after terminating, starting `profanity` again, and opening same chat window. L

[2022-03-24 19:30] #1654 closed

[2022-03-27 04:42] dontlaugh commented on #1615
I often get this message in 1-1 chats where I have multiple, personal client involved (sometime two profanity clients, a Dino client, and a Monocles client)

[code]

Is it related?

[2022-03-27 12:51] MarcoPolo-PasTonMolo commented on #1425
We could insead of `/affiliation list none` have `/who none`, the code for it is pretty much ready

[2022-03-28 09:04] sjaeckel commented on #698
once https://github.com/strophe/libstrophe/pull/184 is merged this will require some integration

[2022-03-28 15:57] fantomfp commented on #1634
Sorry I can't fix it, I don't handle C++.

[2022-03-28 16:53] jubalh commented on #1634
C++?

[2022-03-28 20:55] fantomfp commented on #1634
The code in the file "src/plugins/python_api.c"

[2022-03-28 23:24] jubalh commented on #1634
Not sure where you see C++ code.

Just for future reference why the assignment was done: was discussed in MUC.

[2022-03-28 23:24] #1634 closed

[2022-03-28 23:28] #1425 closed

[2022-04-01 10:40] jubalh commented on #1235
Fixed by https://github.com/profanity-im/profanity/pull/1671 it seems!

[2022-04-01 10:40] #1235 closed

[2022-04-01 10:44] jubalh commented on #672
@paulfertser do you maybe have an idea about this one?

[2022-04-01 10:44] jubalh commented on #248
@paulfertser do you maybe have an idea about this one?

[2022-04-01 19:56] herrmoltke opened #1676 "libgcrypt not found even though it is installed"
Appears to be similar to #1128. I have libgcrypt and its development files installed, but when I run `./configure --enable-omemo` I get the following error:

[code]

I tried all the workarounds mentioned in that issue, but none solved the problem.

## Steps to Reproduce (for bugs)

1. Install all dependencies, including `libgcrypt-devel`
2. After running `./bootstrap` run `./configure --enable-ome

[2022-04-01 20:17] jubalh commented on #1676
Hard to believe :-)
Seems to work fine on our Fedora CI: https://github.com/profanity-im/profanity/runs/5788382597?check_suite_focus=true
We use fedora:latest there.

You didn't mention which version of Profanity you are running btw.

[2022-04-01 20:50] herrmoltke commented on #1676
Thanks for linking to the successful CI build! Went through it and saw I was missing `libsignal-protocol-c-devel` - so this was a user error, sorry about that.

Is there a way to make the error message clearer?

[2022-04-01 20:51] #1676 closed

[2022-04-01 21:09] jubalh commented on #1676
You still didnt mention which version you are trying to build. Which is very annoying. 1) It's in the issue template 2) I asked for this specifically.

[2022-04-01 21:14] herrmoltke commented on #1676
My apologies, this is for 0.12.0. Had the same error when pulling the latest master.

[2022-04-01 21:17] jubalh commented on #1676
I see. Actually I tried to clean up the configure files for 0.12. And I thought that it should print the correct message now. Maybe I need to revisit this then!

[2022-04-02 09:16] omar-polo opened #1679 "profanity 0.12 crashes upon /sendfile"
Hello,

Yesterday I've updated profanity to 0.12.  In previous versions of profanity the `/sendfile` command didn't work for me, it was stuck at 0% all the time, but after the update it actually segfaults.

It doesn't seem to matter if OMEMO is enabled or not for the current chat, `/sendfile <path>` always crashes regardless of omemo.

I'm using my own custom prosody server, but other xmpp clients

[2022-04-02 09:30] jubalh commented on #1679
Fixed in https://github.com/profanity-im/profanity/commit/f11ad1671449f0c83ce28f0cd67af87ca4a585e5
Profanity 0.12.1 should come next week.

If you have time you could test if it works with the above mentioned patch.

[2022-04-02 09:30] #1679 closed

[2022-04-02 10:26] omar-polo commented on #1679
Yes, it works now.  I'm able to send files from profanity finally, thanks a lot!

[2022-04-03 17:47] GasparVardanyan opened #1686 "How to disable groupchat autojoining at startup/connection?"
When I connect to my accaunt, it autojoins all of my groupchats. I can't figure it out how to disable this behaviour. Probably there's some config option to deal with it.

[2022-04-03 18:06] jubalh commented on #1686
It is documented in the user guide.
Issues are for bugs/feature requests. In the README we describe where you can get help. Like joining the MUC, reading the FAQ, reading the user guide. And recently we added GitHub discussions including an Q&A tag.

I prefer if people who ask support questions are sponsors.

Finding this out shouldn't take a long time with all the help and documentation that we p

[2022-04-03 18:06] #1686 closed

[2022-04-04 13:51] GasparVardanyan commented on #1686
But what if I have 100 rooms joined and want to disable autojoin for all of them? Manually?

[2022-04-04 21:53] jubalh commented on #672
@paulfertser wanted to take a look at this and asked in the MUC how to reproduce it. Since for him it worked. The two people who suffered from this seemed to not know how or didn't have the time.
So closing this.

[2022-04-04 21:53] #672 closed

[2022-04-04 21:53] jubalh commented on #248
@paulfertser wanted to take a look at this and asked in the MUC how to reproduce it. Since for him it worked. The two people who suffered from this seemed to not know how or didn't have the time.
So closing this.

[2022-04-04 21:53] #248 closed

[2022-04-04 22:39] FoundOne opened #1687 "[Question] How to set up your own avatar?"
I see you can see someone else's avatar, but is there a way to set your own avatar? I can't see how anywhere in the documentation.

If there is no way. Can I make it as a feature proposal?

[2022-04-05 07:16] jubalh commented on #1687
Hi, that's right so far there is no way to set the avatar.

[2022-04-06 21:44] jubalh commented on #831
@paulfertser you recently did something in this  part of the code. Did you see anything related or have an idea?

[2022-04-07 11:04] paulfertser commented on #831
This is an interesting one, and it goes way below the GNU Readline level.
Basically, what you get pressing some of those ``Ctrl-<digit>`` combinations are ``ASCII control codes``, some have special meaning in the tty layer, some not; the translation sometimes happens even below any terminal (emulator) application code.
Specifically, if you're using Linux VT ("text console"), you get this mapping b

[2022-04-10 21:54] aabacchus opened #1689 "Feature request: toggle showing previous presence changes with /presence"
## Expected Behavior
In a room or MUC, if `/presence room online` (or `/presence chat online`) is set, there may be many lines of presence updates visible. Now running `/presence room none`, all the presence updates should be hidden, and other message still visible. If `/presence room online` is now set, the presence updates should be made visible again.

## Current Behavior
Toggling `/presence` a

[2022-04-10 22:17] jubalh commented on #1689
Well. We just discard the message if we don't want it printed. We don't save this anywhere. It's no message and it's quite useless information so we don't add this to the database.

[2022-04-11 14:42] jas01 opened #1691 "Notification issue in one to one"
I use those options for notification

[code]
and the notification is working when I'm in a chat room, meaning when the «xterm» is not focus and they are a new message in the chat room I got a notification.
Now let's say I got
[code]
if I'm in «/win 2»  and I got a message in room ABC and the «xterm» are not in focus, I'll got a notification (exactly what I want).

If I'm in «/win 2» and I got a me

[2022-04-11 15:11] jas01 commented on #1691
I'm using i3. But I'm don't think (not 100% sure of course), that come from the windows manager. Because the situation seem to link to the focus *in* profanity and not in the xterm_ish running profanity.

[2022-04-12 08:14] #1689 closed

[2022-04-12 09:21] jas01 commented on #1691
Hi,

Can you provide the reason for the «rejected» label ?

Thanks

[2022-04-12 09:58] jubalh commented on #1691
Oops, that was the wrong issue haha

[2022-04-12 10:21] mdosch opened #1692 "Segfault while receiving Ox message"
The segfault happened while opening an ox chat (no idea whether it's related to the ox chat).

[code]

## Environment

Debian unstable

[code]

[2022-04-12 10:36] jubalh commented on #1692
Hmm we iterator over the buffer entries. Then we check for e-> etc but not whether e is NULL.
But there shouldn't be an invalid buffer entry I think. Need to dig deeper. Maybe there is a problem at another location that removes/frees such an entry in a wrong way?

[2022-04-12 10:40] jubalh commented on #1691
Didn't check the code but I'm not entirely sure if we even check the state of the window.
Personally I always switch to window 1 (console) anyways. So I never suffer from such behaviour (maybe you can use this as a workaround).

I plan to to check later if we check the window state anywhere.

[2022-04-13 22:55] GasparVardanyan commented on #365
@brzezinki please, can you share your proxychains config?

[2022-04-17 17:41] mdosch opened #1693 "Ox: Don't print message in chatwindow for messages without body"
I am seeing `OX error: No paylod body found` in the chat window for messages without body (probably encrypted presence/read marker/typing notification) sent by gajim.

Debian Unstable

[code]

[2022-04-18 17:44] mdosch opened #1694 "Remember encryption status for PGP and Ox"
If I enable PGP or Ox for an contact I have to remember to perform `/pgp start` or `/ox start` every time I restart profanity as I will otherwise accidentally send unencrypted messages. For `/omemo start` profanity remembers the encryption stat.

## Expected Behavior
Activate PGP or Ox encryption for chats where it was enabled before.

## Current Behavior
Profanity forgets the state for PGP and Ox

[2022-04-18 18:50] jubalh commented on #1694
Isn't there already an issue for this?

[2022-04-18 18:52] mdosch commented on #1694
I haven't seen it. Maybe I used the wrong search terms if there is already one.

[2022-04-21 08:22] lynix opened #1695 "Idle detection via xscreensaver does not work"
## Expected Behavior
Status is set to 'away' when mouse movements are stopped longer than `autoaway.awaytime` seconds and back to 'online' once mouse is moved again.

## Current Behavior
Status is set to 'away' after configured timeout but not restored to 'online' if mouse is moved. It is restored to 'online' once commands are typed.

## Possible Solution
I have noticed that neither the binary nor

[2022-04-21 08:44] jubalh commented on #1695
Hmm could indeed be a regression in 0.12.x that occurred from our build files cleanup.

Can you test with an earlier version and see if it works there?

[2022-04-21 09:19] lynix commented on #1695
Sure, just tested with an old package and I can confirm that the issue is not present with 0.11.1.

[2022-04-21 10:46] jubalh commented on #1695
@lynix please test latest master.

[2022-04-22 05:46] lynix commented on #1695
I have modified the Arch PKGBUILD to include b4857c60 as a patch against 0.12.1. I can see that `libprofanity.so` is now linked against `libXss.so` while the executable is not.

Unfortunately the issue is still present, status is set to 'away' but not back.

I'll try to build a package from master and see if that makes a difference.

[2022-04-22 05:55] lynix commented on #1695
Same results with _master_ version, status set to 'away' no matter if I move the mouse or not.

[2022-04-27 12:55] mdosch opened #1698 "SIGABRT when using wrong argument order for receiving ox key."
If you doy `/ox receive fingerprint jid` instead of `/ox receive jid fingerprint` profanity aborts.

[code]

## Expected Behavior
No abort, but a warning about using the wrong syntax.

## Current Behavior
abort

## Environment
Debian Unstable

[code]

[2022-04-27 14:51] #1698 closed

[2022-04-27 15:01] #1693 closed

[2022-04-27 15:01] jubalh commented on #1693
@StefanKropp @DebXWoody please check `_handle_ox_chat()` I don't understand what you are doing there.
1)
First plain is assigned `message->plain = p_ox_gpg_decrypt(xmpp_stanza_get_text(ox));`
and then in the same if block you overwrite this with `message->plain = xmpp_stanza_get_text(b);` without freeing the old value as far as I can see.

2)
Sometimes even doing `message->plain = "OX error: No pa

[2022-05-03 19:40] jubalh opened #1704 "SIGABRT when OX + MAM"
## Expected Behavior
Retrieve some incomplete MAM and let me write normal ox messages.

## Current Behavior
Getting SIBABRT

## Possible Solution
I recently edited the `me:` related to akawolfs stamp change.
Also @paulfertser recently did https://github.com/profanity-im/profanity/pull/1674

## Steps to Reproduce (for bugs)
Frist time
1. /mam on
2. /ox start
3. Write some stuff

After that we get a

[2022-05-03 20:00] jubalh commented on #1692
Another one with `xmpp_stanza_new_from()`:

[code]

[2022-05-03 20:55] jubalh commented on #1692
Got another one: `$2 = 0x1d27bb0 "<signcrypt xmlns=\"urn:xmpp:openpgp:0\"><to jid=\"jubalh@me.org\"/><time stamp=\"2022-05-03T22:47:52+0200\"/><rpad>P\253yu\311U</rpad><payload><body xmlns=\"jabber:client
\">hallo.</body></payload></signcrypt>"`
Looks like there is some invalid stuff in the rpad. We need to fix this. But libstrophe should also handle be able to survive this.
cc: @sjaeckel

[2022-05-03 21:01] jubalh commented on #1692
c9e6a89aeaea87daaf572edefe3f9dc5d48e912e might solve our rpad generation.

[2022-05-04 10:06] jubalh commented on #1692
Several problems should be fixed with https://github.com/profanity-im/profanity/pull/1703
Please create new issues if you find more SEGFAULTS etc.

[2022-05-04 10:06] #1692 closed

[2022-05-04 10:12] jubalh commented on #1704
Can't reproduce anymore after merging: https://github.com/profanity-im/profanity/pull/1703
@mdosch what about you?

[2022-05-04 10:20] mdosch commented on #1704
Looks like it's gone now.

[2022-05-04 10:42] #1704 closed

[2022-05-04 11:04] jubalh commented on #831
I think we can leave this with @paulfertser explanation here. So that people know how to solve this bug.
If I understand it correctly we can't do anything about this in profanity.

[2022-05-04 11:04] #831 closed

[2022-05-04 19:59] Neo-Oli commented on #967
I agree with @wstrm. This `shared-mime-info` really should be listed as a dependency. Especially with the newer prosody versions files would get sent with `Content-Disposition: attachement` if you don't have it installed and profanity just sends out everything as `application/octet-stream`. I just spend to hours debugging this problem on my server until I found the solution.

[2022-05-04 20:01] jubalh commented on #967
Where do you suggest we should mention it? Maybe listing it upon each release?

[2022-05-04 20:09] Neo-Oli commented on #967
@jubalh Maybe just in the build guide like so: https://github.com/profanity-im/profanity-im.github.io/pull/87

[2022-05-15 14:00] Andonome opened #1709 "Dunst Notifications"
## Expected Behavior

Profanity should give some system-notification when a message comes in.

## Possible Solution

An option to use notify-send would be good.

## Environment
* Give us the version and build information output generated by `profanity -v`
* If you could not yet build profanity, mention the revision you try to build from
* Operating System/Distribution
* glib version

[code]

[2022-05-15 18:49] MarcoPolo-PasTonMolo commented on #1709
I do get notifications with Dunst. Maybe you got notifications off? Try /help notify

[2022-05-15 19:11] MarcoPolo-PasTonMolo opened #1710 "Changing room title does not take effect until the next session"
When I change the name of a room with `/room config` the old name remains in the roster and titlebar. It does however change in other clients or if I disconnect and connect again.

## Expected Behavior
Room name changes after `/form submit` in the titlebar and roster

## Current Behavior
Room name does not change until next session.

## Steps to Reproduce (for bugs)
1. Creat room, give it a title

[2022-05-16 10:40] Andonome commented on #1709
Aha! It's working now that I've explicitly turned notifications on.

Cheers.

[2022-05-18 12:26] MarcoPolo-PasTonMolo commented on #1710
Also if the room name changes from another client in profanity the old one remains until the next session

[2022-05-23 06:02] #1710 closed

[2022-05-23 06:06] #1709 closed

[2022-05-26 07:31] MarcoPolo-PasTonMolo commented on #757
How do I reproduce this?

[2022-05-26 08:34] mdosch opened #1713 "Segfault while using "/ox discover""
When doing "/ox discover certain_jid" profanity segfaults. Maybe the pubsub node for this certain jid is misconfigured. I will tell you the jid in private.

[code]

## Expected Behavior
Do not segfault.

## Current Behavior
Segfault,

## Possible Solution

## Steps to Reproduce (for bugs)

1. `/ox discover user@example.org`

## Environment
Debian Unstable

[code]

[2022-05-26 13:33] kousu commented on #757
Well, it's been a while, so I'm sorry for not having been more specific. But one way should be to use [biboumi](https://github.com/louiz/biboumi) to join an IRC room with a nickname with spaces -- biboumi should rewrite it to use underscores.

I can probably use aioxmpp to rig up a minimal transport that always corrupts your nickname.

[2022-05-26 14:01] MarcoPolo-PasTonMolo commented on #757
Ok I was able to replicate this. Let's hope I can also fix it

[2022-05-26 16:49] #1713 closed

[2022-05-26 19:42] #757 closed

[2022-05-27 18:24] MarcoPolo-PasTonMolo commented on #1691
@jas01 Try `/notify chat current on`

[2022-05-29 14:21] #1347 closed

[2022-05-30 08:53] jubalh commented on #1691
That will work in sending always notifications. Also when the window is focused.

[2022-05-30 18:12] jubalh commented on #1595
BTW did you trust your own keys?

[2022-05-30 18:17] MarcoPolo-PasTonMolo commented on #1595
In my case yes all keys are trusted and the issue persisted

[2022-05-31 07:23] jubalh commented on #1320
General ability to display QR codes is merged.
Now we just need to find the format of the text to use in that barcode!
Anybody knows details?

[2022-05-31 07:24] jubalh commented on #1691
Probably good enough.

[2022-05-31 07:24] #1691 closed

[2022-05-31 13:11] sjaeckel commented on #1320
I just checked with `zbarimg` and the qr code of conversations contains:

[code]

[2022-06-04 08:01] gi-yt opened #1719 "Feature Request: Add an always-visible roomlist like weechat/irssi"
In weechat/irssi there is a roomlist  that is always there that  shows you the rooms you are in.

I would love if there is a similar one in profanity since the roomlist is only visible when i am in /win 1.

## Expected Behavior

There is an always-visible roomlist
## Current Behavior

There is not an always-visible roomlist
## Possible Solution

## Steps to Reproduce (for bugs)

N/A
## Context

##

[2022-06-04 13:42] jubalh commented on #1719
We had a similar request kind of the other way around. Where users wanted to always see their roster.

I tried to initiate a discussion about general UI layout and mentioned various points here: https://github.com/profanity-im/profanity/discussions/1678

Maybe some people have ideas or opinions.

[2022-06-10 13:50] rjc commented on #52
I'd like to re-open this ticket - https://talk.google.com/ which redirects to https://hangouts.google.com/ is still a thing and only recently had they disabled _insecure apps access_, which affected using their service via _profanity_. It's been working fine for years, until last week. Is there any chance to add support for `X-OAUTH2` or `X-GOOGLE-TOKEN` mechanism?

[2022-06-10 14:07] jubalh commented on #52
You can log in with Profanity there? (before the insecure apps switch)

AFAIK they do not only offer OAUTH but also application specific passwords, right? So that could be a way to make it work for you?

Well sure. Just I'm not interested in implementing this myself. Do you wan to open a PR?

[2022-06-11 10:33] #1595 closed

[2022-06-15 12:35] #1141 closed

[2022-06-15 12:36] jubalh commented on #1647
No feedback/testing from anyone.

[2022-06-15 13:09] jubalh commented on #731
@kousu is this still the case?

How do I get such a stanza to test?

[2022-06-15 13:15] jubalh commented on #1615
@dontlaugh #1595 is fixed now btw.

[2022-06-15 13:29] jubalh commented on #1300
I get the part about moving the bar for our own messages.
But for messages sent to another user I see in the XEP 3 states mentioned:

    received -- the message has been received by a client.
    displayed -- the message has been displayed to a user in a active chat and not in a system notification.
    acknowledged -- the message has been acknowledged by some user interaction e.g. pressing an ac

[2022-06-15 13:53] MarcoPolo-PasTonMolo commented on #369
Isn't this pretty much the same as `/room trigger add <word>` ?

[2022-06-15 17:18] jubalh commented on #369
I guess you are right. Just with the option to define it as a regex.
Then on the other hand..when do we need that?
Should we close this?

[2022-06-15 17:26] MarcoPolo-PasTonMolo commented on #369
I think so

[2022-06-15 18:19] #369 closed

[2022-06-16 10:38] paulfertser commented on #1420
With breakpoint set on ``_exit`` (rather than ``exit``) I get this backtrace:
[code]

``tray_update()`` is calling  ``gtk_main_iteration_do()`` even when tray is disabled.

[2022-06-16 10:53] paulfertser commented on #1420
Probably for cases like that profanity should use ``XSetIOErrorExitHandler`` API to set a custom handler which would be automatically disabling all X-related functionality and /not/ exit. Inspired by discussion about Emacs daemon mode having similar issue: https://gitlab.gnome.org/GNOME/gtk/-/issues/2315 .

[2022-06-16 18:26] mdosch commented on #1694
There was none for Ox. 😁

[2022-06-16 18:40] #497 closed

[2022-06-17 22:41] christf opened #1723 "sending multi-line messages"
For sending longer messages it sometimes is helpful to be able to send newlines. For other clients, ENTER sends the message but Shift + ENTER inserts a newline into the message.

I have tried a few things but have not been able to send a message containing a new line. How do I do it?

## Expected Behavior

pressing Shift + Enter should not send the message but insert a new line into the message be

[2022-06-18 08:38] jubalh commented on #1723
https://github.com/profanity-im/profanity/issues/182

[2022-06-18 08:38] #1723 closed

[2022-06-21 12:13] #1694 closed

[2022-06-22 08:29] MarcoPolo-PasTonMolo commented on #954
I was going to implement it for otr as well until I saw that the `/otr policy always` did this. So I don't think we need it. #952 should be implemented though imo

[2022-06-22 11:06] jubalh commented on #1627
Looks like this is planned since 2013 https://github.com/profanity-im/profanity/blob/master/src/command/cmd_funcs.c#L6500

[2022-06-22 11:17] jubalh commented on #660
When implementing MUC MAM we need to tell the MUC that we dont want to get MUC history upon joining anymore.

[2022-06-22 11:25] jubalh commented on #610
Most clients have this on by default.
And anyways probably not worth the hassle.

[2022-06-22 11:25] #610 closed

[2022-06-26 16:20] kousu commented on #731
I'm sorry, I'm not sure how to test this now. Slack turned off their XMPP gateways years ago. I assume it is still an issue if no one has looked into it.

Without Slack's gateways handy, the only way I could think to test this now is to write a gateway (in slixmpp or aioxmpp or whatever) that sends these un-requested joins and see how Profanity handles them. I don't have one ready for you.

[2022-06-27 22:38] christf commented on #1723
thank you!

[2022-06-28 16:13] sjaeckel commented on #182
And there's a shortcut that spawns the editor, per default alt+c

[2022-06-29 09:22] jubalh commented on #721
The config file is `profrc`. There you configure your behaviour for profanity.
The `accounts` file contains other specific things like `resource` and `last.activity` and `presence.last`. The file is not really meant to be shared.

[2022-06-29 09:22] #721 closed

[2022-07-01 20:44] mdosch opened #1732 "Slashguard should ignore / in cited message"
If I quote a message that contains a slash in the beginning I can't send my message as slashguard prevents me. This happens e.g. if someone writes in third person using `/me`. As it is a quote (`>` as first character) slashguard should let the message pass in this case.

## Expected Behavior
I can quote a message starting with e.g. `/me`.

## Current Behavior
Slashguard says no.

## Possible Solut

[2022-07-04 07:16] #1732 closed

[2022-07-04 14:05] mdosch opened #1733 "Segfault"
Profanity segfaults when receiving an (probably Ox encrypted message)

[code]

## Environment
Debian unstable

[code]

[2022-07-04 15:02] mdosch commented on #1733
The fix in pr #1734 works. Thanks. :)

[2022-07-04 15:13] #1733 closed, assigned to jubalh

[2022-07-28 13:31] netboy3 opened #1737 "/autoaway message and /autoaway check are not working"
## Expected Behavior
/autoaway message ...
/autoaway check ...
Should function with their respective options

## Current Behavior
Both /autoaway options above (with any of their sub-options) fail with "Invalid usage, see '/help autoaway' for details."

## Possible Solution
Fixed in #1736

## Steps to Reproduce (for bugs)
1. /autoaway message away Away from computer for a while
Invalid usage, see '

[2022-07-29 06:48] jubalh commented on #1737
https://github.com/profanity-im/profanity/pull/1736 got merged.

Thanks for including the fix in your report!

[2022-07-29 06:48] #1737 closed

[2022-07-31 18:12] mdosch opened #1738 "Segfault when requesting an avatar"
`/avatar open $contact` made profanity segfault.

## Expected Behavior
Download and open the avatar.

## Current Behavior
Segfault

[code]

[code]

## Steps to Reproduce (for bugs)

1.  Use `/avatar open` on a contact in the roster (seems not to segfault for every contact so you might have to try several contacts)

## Environment
* Debian Testing

[code]

[2022-08-01 20:08] TravelTrader opened #1739 ""Login failed" (but only one of my accounts)"
## Expected Behavior
Login with `/connect user@server.tld` and then password.

## Current Behavior
Message `Login failed`.
Here's the extract of the logfile:
[code]

## Environment
[code]

using Ubuntu 20.04.

Thanks a lot for helping!

[2022-08-02 06:16] jubalh commented on #1739
And another client can connect to this account?

[2022-08-02 06:30] jubalh commented on #1739
This is ancient btw :)
Please try 0.12.1.

[2022-08-02 06:49] jubalh commented on #1738
Can't reproduce this.
Tried with both jpeg and webp avatars. In both cases it opens fine.

[2022-08-02 08:52] TravelTrader commented on #1739
It's the version of Ubuntu 20.04. But I'll install 0.12.1 and then try it again.

Yes. On any other I tried: several mobile clients and Dino. Without any problems. That's why I am confused.

[2022-08-02 11:22] TravelTrader opened #1741 "make install with error (0.12.1)"
## Expected Behavior
Installing profanity 0.12.1 with [this instruction](https://profanity-im.github.io/guide/0120/build.html#build).

## Current Behavior
I get the following errors at the end:
[code]

## Environment
I had the Ubuntu 20.04. version of profanity 0.8 and wanted to update.

Thank you for your help!

[2022-08-02 11:24] TravelTrader commented on #1739
During installation with `make install` I sadly got an error: #1741

[2022-08-02 12:12] jubalh commented on #1741
Please provide more of the log file. In the part you are showing it doesn't say what error you get. Do you have all [dependencies](https://profanity-im.github.io/guide/0120/build.html#pkgdeps) installed?
I wonder if Ubuntu 20.04 has all the library versions needed ;)

[2022-08-02 12:15] jubalh commented on #1738
@mdosch had the opener set to xdg-open, and an invalid desktop file laying around.
Resulting in xdg-open returning an permission denied.

We were wrongly using the same GError twice.

[2022-08-02 12:21] #1738 closed

[2022-08-02 12:29] jubalh opened #1742 "Setting avatar executable to gio open crashes Profanity"
It works with url open but doesnt for avatar.

## Expected Behavior
`/executable avatar "gio open"` should set `gio open` as default opener for `/avatar open`.

## Current Behavior
Crash

## Possible Solution
Check GSubprocess instead of spawn.

## Steps to Reproduce (for bugs)
1. `/executable urlopen set "gio open %u"`
2. `/url open <tab> ..select one
3. it works

1. `/executable avatar "gio open

[2022-08-02 12:34] jubalh commented on #1739
And what server software is used in the non working case? Is it the same like in the others?

[2022-08-02 13:32] TravelTrader commented on #1741
[code]

I installed all recommended here: https://profanity-im.github.io/guide/0120/build.html#distrodeps
Only `libstrophe-dev` was not the version expected and I installed the newest one manually. So, `./bootstrap.sh` and `./configure` ran without any errors.

Do you think that I cannot install the newest version on Ubuntu 20.04?

[2022-08-02 13:35] jubalh commented on #1741
`xmpp_stanza_get_child_by_name_and_ns()` was added in libstrophe 0.10. The version of libstrophe that you are using is older than that and doesn't have this function. That's why you get the error.

If you build libstrophe manually (the newest version) then you also need to tell Profanity to use that version and not the one installed on your distribution.

@mdosch did this recently I think, maybe h

[2022-08-02 14:09] mdosch commented on #1741
Ok, I assume that you have the version of libstrophe and profanity that
you want to build on your system.
No guarantees, but I just tried on my system (debian testing) and this
_might_ work:

- If not yet enabled, enable the `deb-src` entries in your
   `/etc/apt/sources.list`
- `sudo apt update`
- `sudo apt build-dep libstrophe0 profanity`
- In the folder containing libstrophe source run the foll

[2022-08-02 14:29] mdosch commented on #1437
`depends-on-libstrophe`: I think one should not solely relying on the lib to filter out those sequences as the lib can't do this on encrypted messages so profanity should also filter on user input (prior to encryption) and on incoming messages (after decryption).

[2022-08-02 15:52] TravelTrader commented on #1739
The not working account is prosody and the working one is ejabberd.

[2022-08-02 16:32] jubalh commented on #1437
Makes sense.

[2022-08-02 16:41] jubalh commented on #1739
Several of us are using Prosody.
You must have some special configuration that creates problems for Profanity.

Unfortunately the information provided is not enough for us to help.

[2022-08-02 16:42] mdosch commented on #1739
Can you tell us the server domain? We could have a look what connection methods it offers.

[2022-08-02 17:44] vinegret opened #1743 "unable to reconnect after re-rising network"
After getting SSL_ERROR_SYSCALL(5) with errno=110 or errno104 I can no longer connect to both with default account or with other accounts to other XMPP server. Only with a new profanity instance is possible to connect again.
I'm not sure, but it seems that I began to notice this behavior after switching from `libmesode` to `libstrophe`.
In the debugger, I see that the libstrophe does not call a SS

[2022-08-02 17:46] TravelTrader commented on #1739
With help of @mdosch this issue is solved.
The server does only allow ipv4 but didn't set it in dns. Just entered the ip and domain name in `/etc/hosts` and I can login now.
Thank you  @mdosch!

[2022-08-02 17:46] #1739 closed

[2022-08-03 09:23] jubalh commented on #1741
Since on your other bug there was some progress I think this one is solved as well.

[2022-08-03 09:23] #1741 closed

[2022-08-03 13:46] jubalh commented on #1743
In case you are familiar with git: does it work if you revert https://github.com/profanity-im/profanity/commit/3a03496817525d4f77f220caa813e0843797211a ?

[2022-08-03 14:18] vinegret commented on #1743
@jubalh , yes, revert to 3a03496 solve this issue.

[2022-08-03 14:23] sjaeckel commented on #1743
do you mean 'revert of'?

[2022-08-03 14:32] vinegret commented on #1743
@sjaeckel  yes, revert of 3a03496 (only revert this commit). Thanks for correcting!

[2022-08-03 14:58] jubalh commented on #1615
@mdosch is this still happening?

[2022-08-03 17:31] mdosch commented on #1615
Honestly, I avoided writing to OMEMO MUCs with profanity since it was annoying to instantly get a screenshot of "this message was not encrypted to your device" (common OMEMO key mess stuff, Ox FTW!) back whenever this happened before I was able to OMEMO-cycle and resend. If there were changes to OMEMO which could have fixed this I will try again.

[2022-08-03 19:04] mdosch commented on #1615
Ok, just send an OMEMO message (in 1-1 which luckily doesn't go out if encryption fails) and had to do the OMEMO cycle again.

[2022-08-03 20:20] jubalh commented on #1615
Thanks for checking

[2022-08-06 17:01] sjaeckel commented on #1743
I only now realized that you're hitting https://github.com/strophe/libstrophe/pull/211 ... reverting 3a03496817525d4f77f220caa813e0843797211a simply tears down the complete connection object which isn't necessary, but also solves this problem!

Can you try to build&use libstrophe from master? Otherwise you'll have to wait whether the Arch maintainers will include the necessary patch. I've just sen

[2022-08-06 19:27] jubalh commented on #1743
openSUSE has the mentioned PR added as a patch to the package. But I doubt all distros will know about this. Maybe there should be a new point release for libstrophe?

[2022-08-06 20:33] sjaeckel commented on #1743
I'll do a 0.12.2 as soon as https://github.com/strophe/libstrophe/pull/214 is confirmed and merged

[2022-08-07 05:03] vinegret commented on #1743
I'm sorry, I didn't pay attention to this PR before reporting.
Now, with [strophe/libstrophe#master](https://github.com/strophe/libstrophe/tree/master)  profanity working as expected.  Thanks!

[2022-08-08 09:34] jubalh commented on #1743
I'll close this now here since one could argue that it's more a libstrophe issue.
Hopefully users who encounter this can find the bug and either then get the new libstrophe release (or distros patching it).

[2022-08-08 09:34] #1743 closed

[2022-08-08 10:51] jubalh commented on #1743
libstrophe 0.12.2 got released: https://github.com/strophe/libstrophe/releases/tag/0.12.2

[2022-08-08 13:09] #698 closed

[2022-09-06 10:56] #1742 closed

[2022-09-06 10:56] jubalh commented on #1742
Thanks @nandesu-utils !

[2022-09-09 03:00] sbroskey-novetta opened #1750 "./configure --enable-otr fails with missing sqlite3"
Trying to install profanity on a centos 7 vm, following the script from [this issue](https://github.com/profanity-im/profanity/issues/542) by manually entering the commands, `./configure --enable-otr` fails:

[code]

## Expected Behavior
`./configure` would complete

## Current Behavior
Error as described above

## Possible Solution

## Steps to Reproduce (for bugs)
1. Clone 0.12.x
2. Follow steps

[2022-09-09 11:04] jubalh commented on #1750
Did I get it right?
You have sqlite3 3.39.3 installed, and we require at least 3.22.0. So you have that.
But when you run configure with `--enable-otr` the  build fails. Since you hilight this switch I'm curious: and it works with others? Probably not, right?

You also mention profanity 0.4.6 and we are at 0.12.0 now. Are you really trying that old version or you just copied this from that script

[2022-09-09 17:17] jubalh commented on #1750
Do you have the devel package for sqlite3 installed?

[2022-09-09 17:20] jubalh commented on #1750
Our latest install instructions are at https://profanity-im.github.io/guide/latest/build.html btw

[2022-09-16 06:38] jubalh commented on #1750
Did you install the sqlite devel package?
My guess is that CentOS instructions will be pretty similar to the Fedora ones.

[2022-09-16 14:58] fluxion-t opened #1754 "building error xmpp_tlscert_get_string"
## Expected Behavior

In Debian 11.4, after building latest libstrophe from git, pulling latest profanity from git (with all required dependencies satisfied), with a clean ./configure, I expected 'make' to compile without issues.

## Current Behavior

Instead, I got the following messages:
`undefined reference to `xmpp_tlscert_get_string'`
and other subsequent 'undefined reference' error messages.

[2022-09-16 15:30] jubalh commented on #1754
Do you have libstrophe installed from your package manager?
My guess is that you are building against that one instead of the git one that you pulled.

BTW AFAIK Debian has a backports repo. But I'm not sure for which versions and if it's already ready. Maybe @mdosch knows more about this.

[2022-09-16 15:45] fluxion-t commented on #1754
Indeed, I had libstrophe installed from package manager (unknowingly). Purging it solved the issue.

Debian backports offers 0.12.1-1 but I really wanted to try the latest.

Many thanks!

[2022-09-16 15:45] #1754 closed

[2022-09-18 15:40] Glandos commented on #225
[**@boothj5**](https://github.com/boothj5) commented on [13 janv. 2015, 01:11 UTC+1](https://github.com/profanity-im/profanity/issues/225#issuecomment-69672788 "2015-01-13T00:11:03Z - Replied by Github Reply Comments"):

Even this delay eats up much more CPU than needed. I am currently evaluating both poezio and profanity, and based on a idling client, poezio eats 60× less CPU, due to its use of P

[2022-09-25 19:39] k3wixf4zkuor7vg1 opened #1758 "[UI Improvement] change colors used by `/url save` command"
## Expected Behavior

The information about downloading the file should be shown in white color. If download succeds, it should turn green and if it fails, then it should turn red.

## Current Behavior

When downloading starts, the text is shown in red color, which suggests the error and this is confusing, because no error actually happens. After download finishes, the text turns white, which is n

[2022-09-25 21:41] techmetx11 opened #1759 "Opening a URL or avatar freezes Profanity for as long as the opened executable is currently running"
## Expected Behavior

Being able to use profanity while the opened executable is running

## Current Behavior

Profanity freezes until I kill the opened executable

## Possible Solution

Replace `g_spawn_sync` with `g_spawn_async` in `call_external`

## Steps to Reproduce (for bugs)

1. Have `/url open` set to open a browser, for example like Firefox or Chromium
2. Close any existing browsers
3. O

[2022-09-26 09:31] jubalh commented on #1759
Doesn't happen to me and neither to @mdosch. Which executable did you set? So I can test with that one.

[2022-09-26 09:33] jubalh commented on #1759
But sounds like this would make sense anyways. Will you open a PR for this?

[2022-09-26 11:00] techmetx11 commented on #1759
`firefox`, but make sure that Firefox isn't running already, or else it will just open a new tab and quit

Sure

[2022-09-29 21:49] techmetx11 opened #1761 "Profanity hangs, and segfaults when attempting to find mentions in an extremely long message"
## Expected Behavior

Profanity continues as normal

## Current Behavior

Profanity hangs without drawing the message, and soon after, crashes

## Possible Solution

Implement a size limit in the `get_mentions` function

## Steps to Reproduce (for bugs)

1. Send an extremely long message to someone using Profanity

## Context

## Environment
* Operating System: Artix Linux (OpenRC)
* glib: 2.72.3

[2022-09-30 07:30] jubalh commented on #1761
I'll need to test this. Feel free to open a PR if you want to.

If we do that, we should make it configurable by the user.

[2022-10-06 20:16] tran-h-trung opened #1764 "Statusbar - not displaying as configured"
# Statusbar not displaying as configued

This issue is not a software bug, but it is a UX design flaw.

`/statusbar` is configued to hide all read chat and display the unread chat:

[code]

With the above configuration, `/statusbar` display the number and name of the current window on the right side and only display additional items when new message are recieved.

## Context

`/statusbar` is worki

[2022-10-07 14:15] jubalh commented on #1759
So to clarify: if people use `xdg-open` everything works fine. If they call their browser directly (ie via setting `/executable urlopen set "chromium %u"`) we get this behaviour.

[2022-10-09 17:25] techmetx11 commented on #1759
`xdg-open` or whatever browser don't fork into the background when there's no browser currently open

[2022-10-12 10:45] #1759 closed

[2022-10-18 07:22] alarixnia opened #1769 "Crash due to message recieved before layout->subwin/rosterwin is initialized with NetBSD curses"
Forwarding a bug reported using the NetBSD bug tracker ("Profanity crashes at login"): http://gnats.netbsd.org/57050

The code in question here handles messages by people not in the user's contact list, and what is probably happening is that the XMPP server is sending such a message before profanity has set up its window layout.

Setting `roster.unsubscribed=false` indeed makes profanity start wit

[2022-10-20 13:47] jubalh commented on #1158
Support for XEP-0054 has been merged. Thanks @techmetx11.

@mdosch Do you know which clients support which vcard XEP?
XEP-0292 has status `Deferred` while XEP-0054 has `Active`.

[2022-10-21 09:15] jubalh commented on #1769
I see that the guard that is currently in place was also contributed by you: https://github.com/profanity-im/profanity/commit/ce6775342

So if I see this right, then the bail out makes sure that the other rosterwin functions are not called (like `_rosterwin_print_rooms` etc).

Does your patch have a side effect (that you are aware of) like the message/window isn't displayed at all? Or will it appe

[2022-10-21 11:42] jubalh commented on #660
https://github.com/profanity-im/profanity/pull/1724 got merged!
MAM in 1:1 support WITH infinite scrollback (reloading from DB) is now done.
Thanks a lot to @MarcoPolo-PasTonMolo for implementing this!

[2022-10-21 11:42] jubalh commented on #660
Todo:
* test
* check if autocompletion / quoting works
* check if plugin api still okay
* implement MUC MAM

[2022-10-21 15:02] jubalh opened #1770 "Fix quoting after MAM merge"
`wins_add_quotes_ac()` is called in `chatwin_incoming_msg()` and thus run only upon incoming new messages.
After merging https://github.com/profanity-im/profanity/pull/1724 we now send a MAM request and load new messages out of the DB and can scroll back.
Same should be done for `wins_add_urls_ac()` for url completion.

Maybe its worth it just to iterate backwards in the UI buffer?

[2022-10-26 18:31] tran-h-trung opened #1775 "OTR's policy is harrasing MAM"
# MAM is enabled but messages are missing.

When you are supporting 3 methods of encryption and a ton of options for
configurations, bugs naturally get mixxed up with each other.

This is a very confusing issue to track down. Because the problem was not
with MAM but with the configuration: `otr.policy=opportunistic`.

This issue was caught by mere accident.

We had to designed a test and did a bit

[2022-10-26 18:41] jubalh commented on #1775
Based on the conversation in the MUC: it is quite likely that everything is working as it should.
For this reason I would like to ask you to start with a fresh setup of Profanity again, and see what's happening. Does the problem really exist?

Did you ever enable/play around with OTR at all? Who put the setting to `opportunity`? Did you enable OTR for this chat?

Your investigation sure was good.

[2022-10-27 10:06] MarcoPolo-PasTonMolo opened #1776 "Cannot login when I have to many bookmarks"
If I have more than a particular number of bookmarks (not sure if autojoin has to be on or off, it's on for me) it my case 41 then profality loses connection whilst joining the MUCs when it reconnects it Loses connection shortly after.

## Expected Behavior
Login normally

## Current Behavior
Profanity loses connection while joining MUCs (sometimes even only after joining 10)

## Possible Solution

[2022-10-27 10:29] jubalh commented on #1776
Bad :(

BTW as a workaround: @DebXWoody had a non upstreamed patch somwhere, where he passes a flag to Profanity to not join the bookmarks upon start.

[2022-10-27 10:33] tran-h-trung commented on #1775
Me, myself, and I did created this big fat ugly pile of a mess, yes!

This was "accidental" as stated above.

`user.1@` was used to test OTR prior to this test and I forgot to disable it. I didn't realized this fact before started testing so I could not have mentioned it in our MUC. Without this mistake, it is very likely that I would *not* had caught this bug in the first place.

Before reporting

[2022-10-27 10:36] jubalh commented on #1775
That's great. Then everything is working as expected.

[2022-10-27 10:36] #1775 closed

[2022-10-27 19:18] devhell opened #1777 "Usability: Make the message for how to trust own OMEMO fingerprint clearer"
I tried trusting my own fingerprint, following the instructions displayed to me after generating materials or checking my own fingerprint, the instructions, however, are not clear.

## Expected Behavior

The message correctly tells the user how to trust their own OMEMO fingerprint.

## Current Behavior

[code]
After trying the suggestion from above, I get the following error:

[code]

Turns out, t

[2022-11-04 18:07] spertulo97 opened #1778 "Doesn't launch after the latest Termux packages update"
After the latest Termux packages update, Profanity stopped launching. It shows "CANNOT LINK EXECUTABLE "profanity": library libpython3.10.so.1.0 not found: needed by main executable" error. Termux has already switched to Python 3.11

## Expected Behavior
To simply start

## Current Behavior

## Possible Solution
Maybe just switch Profanity to Python 3.11?

## Steps to Reproduce (for bugs)
1. Just

[2022-11-04 19:26] jubalh commented on #1778
@fantomfp already mentioned a problem with building for Python 3.11 in https://github.com/profanity-im/profanity/issues/1634.
And for Profanity 0.13.1 we received PR https://github.com/profanity-im/profanity/pull/1756 which fixes the build with Python 3.11.

My assumption is that both @fantomfp and @sgn actually also tried to run it with Python 3.11?

And that doesn't look like it is build/linked

[2022-11-04 19:46] spertulo97 commented on #1778
Python 3.10 was deleted from Termux after the last packages update.

[2022-11-04 19:55] fantomfp commented on #1778
This is why profanity's binary is now broken.

The fix for this issue is to rebuild profanity's binary. Linking to python 3.11 will be done automatically (if support is enabled at the packaging level).

[2022-11-05 09:28] jubalh commented on #1778
Then you need to open a bug for the Termux folks, nothing we can do about it here ;)
That's why some distros rebuild all packages upon a change in a dependency package :)

[2022-11-05 11:26] spertulo97 commented on #1778
I don't think I should. Everything in my Termux works fine, except Profanity.

[2022-11-05 11:34] jubalh commented on #1778
Did you read what we wrote? Specifically:

[2022-11-06 09:22] jubalh commented on #1778
@neo-oli can you help here?

[2022-11-06 09:35] sgn commented on #1778
@spertulo97  I created a bug report in correct place https://github.com/termux/termux-packages/issues/12920 for you.
This is a downstream issue. Nothing can be done in profanity upstream.

[2022-11-06 09:38] sgn commented on #1778
To be honest, all bug reports should go to downstream (distribution) first, their developers will analyze and see if it's their bugs.
If it's really upstream bug, they will report to upstream and/or ask the users to report to upstream, you shouldn't come to upstream directly.

[2022-11-06 15:10] sgn commented on #1778
@spertulo97 Downstream has rebuilt profanity.

[2022-11-06 15:11] jubalh commented on #1778
@spertulo97 please listen the next time and don't let others do the work for you.

[2022-11-06 15:11] #1778 closed

[2022-11-06 15:52] spertulo97 commented on #1778
Thanks a lot to all of you!
And sorry for disappointing you.

[2022-11-18 19:27] MarcoPolo-PasTonMolo opened #1779 "Profanity stops working after some time"
Left profanity running for about an hour and when i got back to it, it wouldn't receive new messages and commands wouldn't work. I think I was able to make commands work by pressing Ctr-c a bunch of times (not sure if that's what made it work), but still doesn't get new messages. Opening xmlconsole and pinging the server only shows sent stanzas in xmlconsole, nothing is getting received.
A possibl

[2022-11-18 19:45] MarcoPolo-PasTonMolo commented on #1779
16 minutes later profanity decided that it lost connection then re-established the connection and now everything is ok

[2022-11-18 19:49] MarcoPolo-PasTonMolo commented on #660
Also maybe trigger fetching mam when connection gets re-established. Be careful though because if a new message is received before the mam request gets triggered messages that were send whilst connection was down might get lost

[2022-11-26 10:43] rajdeepdas2000 commented on #1764
Hi, I want to work on this issue. Can you assign it to me? Thanks.